@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/Human/HRS01/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });

            var EmpPhotoUrl = $('input[name=PhotoUrl]').val();
            var photourl = EmpPhotoUrl.replace("~/", "");
            $("#EmpPhotoUrl").attr("src", pathlink + photourl);
        }
    });
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/Human/HRS01/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <div style="text-align: center">
    <input id="PhotoUrl" name="PhotoUrl" type="hidden" value="" />
    <img src="" id="EmpPhotoUrl" name="EmpPhotoUrl" class="rounded" style="height:300px;" />
</div>
    <div style="padding-top: 20px; margin-right: 20px;">
        <input id="SID" name="SID" type="hidden" value="" />
        <table class="form"> 
            <tr>
                <th class="formTitle">工號</th>
                <td class="formValue">
                    <input id="EMP_NO" name="EMP_NO" type="text" class="form-control " disabled="disabled"/>
                </td>
                <th class="formTitle">姓名</th>
                <td class="formValue">
                    <input id="EMP_NM" name="EMP_NM" type="text" class="form-control "  disabled="disabled"/>
                </td>
            </tr>

            <tr>
                @{
                    var depid = CCM.Code.OperatorProvider.Provider.GetCurrent().DeptId;

                    if (depid == "G00" | depid == "G10" | depid == "G20" | depid == "C00")
                    {

                        <th class="formTitle">生日</th>
                        <td class="formValue">
                            <input id="BRD_DT" name="BRD_DT" type="text" class="form-control "  disabled="disabled"/>
                        </td>
                    }
                }
                <th class="formTitle">到職日</th>
                <td class="formValue">
                    <input id="ARV_DT" name="ARV_DT" type="text" class="form-control "  disabled="disabled"/>
                </td>
            </tr>
            <tr>
                <th class="formTitle">職位</th>
                <td class="formValue">
                    <input id="JOB_NM" name="JOB_NM" type="text" class="form-control "  disabled="disabled"/>
                </td>
                <th class="formTitle">部門</th>
                <td class="formValue">
                    <input id="DEPM_NM" name="DEPM_NM" type="text" class="form-control "  disabled="disabled"/>
                </td>
            </tr>

            <tr>
                <th class="formTitle">照片</th>
                <td class="formValue" colspan="3">
                    <input id="PhotoUrl" name="PhotoUrl" type="hidden" value="" />
                    @*<div>
                        <input type="file" id="FileUpload1" />
                        <input type="button" id="btnUpload" value="Upload Files" />

                    </div>*@
                    <div class="input-group">
                        <input type="file" id="FileUpload1" class="form-control" aria-label="...">
                        <span class="input-group-btn">
                            <button type="button" id="btnUpload" class="btn btn-info" onclick="UploadFile()">上傳檔案</button>
                        </span>
                    </div>
                </td>

            </tr>
        </table>
    </div>
</form>




@section scripts
{

    <!--加入一些自己手寫的簡單jQuery語法-->
    <script type="text/javascript">
    $(document).ready(function(){
        $('#btnUpload').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload1").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('username', 'Manas');

                $.ajax({
                    url: '/Human/HRS01/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (data) {
                        //var res = JSON.parse(data.xhr.responseText);
                        var res = data;
                        if (res.Result) {
                            msg = "已成功上傳" + res.Count + "個檔案！";
                            window.setTimeout(function () {
                                $.modalMsg(msg, "success");
                            }, 500);

                        }
                        else {
                            msg = "上傳失敗，原因：" + res.Message;
                            window.setTimeout(function () {
                                $.modalMsg(msg, "error");
                            }, 500);
                        }
                        //alert(res.FileUrl);
                        //更新圖片欄位
                        //$('#PhotoUrl').val(data[0].value);
                        $('input[name=PhotoUrl]').val(res.FileUrl);
                        var EmpPhotoUrl = $('input[name=PhotoUrl]').val();
                        var photourl = EmpPhotoUrl.replace("~/", "");
                        $("#EmpPhotoUrl").attr("src", pathlink + photourl);
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    });
    </script>
}