@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var vhost = '@Request.Url.Host';
        var vport = '@Request.Url.Port';
        if (vport != 80) {
            vport = ':@Request.Url.Port';
        }
        var pathlink = 'http://' + vhost + vport + '/';

        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/PublicObject/PUB01/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
					{ label: "SID", name: "SID", hidden: true, key: true, width: 80, align: 'left' },
				    { label: "類型", name: "ObjectType", width: 80, align: 'left' },
				    { label: "名稱", name: "ObjectNM", width: 200, align: 'left' },
				    { label: "描述", name: "Description", width: 500, align: 'left' },
                     {
                         label: "啟用", name: "Enable", width: 50, align: 'center',
                         formatter: function (cellvalue) {
                             return cellvalue == 'Y' ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                         }
                     },
				    {
				        label: "啟用日期", name: "EnableDate", width: 80, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
				    },
                    {
                        label: "照片", name: "PhotoUrl", width: 80, align: 'left',
                        formatter: function (cellvalue) {
                            //var photourl = cellvalue.replace("~/", "");
                            return cellvalue != '' ? "<img src='" + pathlink + cellvalue + "' class=\"rounded\" style=\"height:50px;width:50px\">" : "<img src=\"" + pathlink + "/Content/img/question_mark.png\" class=\"rounded\" style=\"height:50px;width:50px\">";
                           
                        }
                    },
            ],
			pager: "#gridPager",
			sortname: 'ObjectNM asc,ObjectType desc',
			viewrecords: true,
			loadComplete: function () {
			    $(this).find(">tbody>tr.jqgrow").addClass("myAltRowClassEven");
			    //$(this).find(">tbody>tr.jqgrow:odd").addClass("myAltRowClassEven");
			    //$(this).find(">tbody>tr.jqgrow:even").addClass("myAltRowClassEven");
			}
        });
        $("#time_horizon a.btn-default").click(function () {
            $("#time_horizon a.btn-default").removeClass("active");
            $(this).addClass("active");
            $('#btn_search').trigger("click");
        });
        $("#btn_search").click(function () {
            var timeType = $("#time_horizon a.active").attr('data-value');
            var queryJson = {
                keyword: $("#txt_keyword").val(),
                objectType: $("#time_horizon a.active").attr('data-value'),
            }
            $gridList.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增資料",
            url: "/PublicObject/PUB01/Form",
            width: "720px",
            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().SID;
        $.modalOpen({
            id: "Form",
            title: "修改資料",
            url: "/PublicObject/PUB01/Form?keyValue=" + keyValue,
            width: "720px",
            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/PublicObject/PUB01/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().SID },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().SID;
        $.modalOpen({
            id: "Details",
            title: "查看資料",
            url: "/PublicObject/PUB01/Details?keyValue=" + keyValue,
            width: "720px",
            height: "600px",
            btn: null,
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-info" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-info dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建資料</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已選中<span>1</span>項</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改資料</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>刪除資料</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看資料</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="名稱/描述" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-info"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
                <td style="padding-left: 10px;">
                    <div id="time_horizon" class="btn-group">
                        <a class="btn btn-default" data-value="0">全部</a>
                        <a class="btn btn-default active" data-value="1">公務車輛</a>
                        <a class="btn btn-default" data-value="2">會議室</a>
                        <a class="btn btn-default" data-value="3">其它物品</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

