@using CCM.Web.EIP.Areas.Document.Models
@model IEnumerable<FileTreeViewModel>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/Document/Views/Shared/_Layout.cshtml";
}

<!-- 引用來源 http://qiita.com/mash0510/items/3d7f155d3a3ad1f818f7

<-- これより下の行を全て追加してください -->
    @{
        if (Model != null)
        {
            Html.RenderPartial("GetFiles.cshtml", Model);
        }
    }

    <h1>JQueryFileTreeテスト</h1>

    <div class="row">
        <div class="col-md-6">
            <div id="container_id"></div>
        </div>
        <div class="col-md-6">
            <label id="selectedItem"></label>
        </div>
    </div>
<script src="~/Content/js/jquery/jquery-2.2.4.min.js"></script>
<script src="~/Content/js/filetree/jquery.js"></script>
<script src="~/Content/js/filetree/jquery.easing.js"></script>
<script src="~/Content/js/filetree/jqueryFileTree.js"></script>
<!-- jQueryFileTree.jsを追加 -->
<script src="~/Content/js/filetree/connectors/jqueryFileTree.js"></script>
    <script type="text/javascript">
    window.onload = function () {
        $('#container_id').fileTree({
            root: 'D:\Dropbox', //ここに、表示先のフォルダを指定します。
            script: '/Document/DOC05/GetFiles',
            expandSpeed: 100,
            collapseSpeed: 100,
            multiFolder: false,
            onlyFolders: false,
        },
        function (file) {
            $('#selectedItem').html(file);
        });
    };
    </script>
