@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/RDManage/RDM02/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        // 機台編號
        $("#Machine_Id").bindSelect({
            url: "/RDManage/RDM02/GetSrvProd",
            id: "M_ITEM_NO",
            text: "ITEM_DESCRIPT"
        });
    }
    function submitForm() {
        var FileUploadPath = $('input[name=FileUpload1]').val();
        var UploadPath = $('input[name=UploadPath]').val();
        if (UploadPath == '') {
            msg = "請先上傳 DLL 檔!";
            window.setTimeout(function () {
                $.modalMsg(msg, "error");
            }, 500);
            return;
        }

        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/RDManage/RDM02/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })

    }

    function UploadFile() {
        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {

            var fileUpload = $("#FileUpload1").get(0);
            var files = fileUpload.files;
            //alert(fileUpload);
            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('username', 'Manas');
            alert(fileData);

            $.ajax({
                url: '/RDManage/RDM02/UploadFiles',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                    //var res = JSON.parse(data.xhr.responseText);
                    var res = data;
                    if (res.Result) {
                        msg = "已成功上傳" + res.Count + "個檔案！";
                        window.setTimeout(function () {
                            $.modalMsg(msg, "success");
                        }, 500);

                    }
                    else {
                        msg = "上傳失敗，原因：" + res.Message;
                        window.setTimeout(function () {
                            $.modalMsg(msg, "error");
                        }, 500);
                    }
                    //alert(res.FileUrl);
                    //更新圖片欄位
                    //$('#PhotoUrl').val(data[0].value);
                    $('input[name=UploadPath]').val(res.FileUrl);
                    var UploadPath = $('input[name=UploadPath]').val();

                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    }
</script>

<form id="form1">
    <input id="SID" name="SID" type="hidden" value="" />
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">客戶</th>
                <td class="formValue">
                    <input id="Customer" name="Customer" type="text" class="form-control required"  />
                </td>
            </tr>
            <tr>
                <th class="formTitle">備註</th>
                <td class="formValue">
                    <input id="Remark" name="Remark" type="text" class="form-control required"  />
                </td>
            </tr>
            <tr>
                <th class="formTitle">機台編號</th>
                <td class="formValue">
                    <input id="Machine_Id" name="Machine_Id" type="text" class="form-control required"  />
                </td>
            </tr>
            <tr>
                <th class="formTitle">檔案</th>
                <td class="formValue" >
                    <input id="UploadPath" name="UploadPath" type="hidden" value="" />
                    <input id="oldFileName" name="oldFileName" type="hidden" value="" />
                    <div>
                        <label class="btn btn-default btn-file">
                            <input type="file" id="FileUpload1" />
                            <input type="button" id="btnUpload" value="上傳檔案" />
                        </label>
                    </div>
                    <div>
                        <label id="filepath" name="filepath"></label>
                    </div>
                    @*<div>
                        <label class="btn btn-default btn-file">
                            <input id="FileUpload1" type="file" hidden>
                            <input type="button" id="btnUpload" value="Upload Files" />
                        </label>
                    </div>*@
                </td>
            </tr>
      
        </table>
    </div>
</form>

@section scripts
{

    <!--加入一些自己手寫的簡單jQuery語法-->
    <script type="text/javascript">
    $(document).ready(function(){
        $('#btnUpload').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload1").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('username', 'Manas');

                $.ajax({
                    url: '/RDManage/RDM02/UploadFiles',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (data) {
                        //var res = JSON.parse(data.xhr.responseText);
                        var res = data;
                        if (res.Result) {
                            msg = "已成功上傳" + res.Count + "個檔案！";
                            window.setTimeout(function () {
                                $.modalMsg(msg, "success");
                            }, 500);

                        }
                        else {
                            msg = "上傳失敗，原因：" + res.Message;
                            window.setTimeout(function () {
                                $.modalMsg(msg, "error");
                            }, 500);
                        }
                        //alert(res.FileUrl);
                        //更新圖片欄位
                        //$('#PhotoUrl').val(data[0].value);
                        $('input[name=UploadPath]').val(res.newFileName);
                        $('input[name=oldFileName]').val(res.oldFileName);
                        $("#filepath").html(res.newFileName);
                        var UploadPath = $('input[name=UploadPath]').val();
                        //var filepath = $("#filepath").html();
                        //filepath = res.FileUrl;
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    });
    </script>
}