@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    var company = $.request("company");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/RDManage/RDM02/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
            // 修改模式
            $("#COMPANY").attr("disabled", "disabled");
            $("#ITEM_NO").attr("disabled", "disabled");
           
        } else {
            // 新建模式
        }
    });
    function initControl() {
        if (company == '') {
            company = 'CCM';
        }
        // 機台編號
        $("#ITEM_NO").bindSelect({
            url: '/RDManage/RDM00/GetITEM?company=' + company,
            id: "ITEM_NO",
            text: "DESCR"
        });
    }
    function submitForm() {

        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/RDManage/RDM02/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })

    }

    $(document).ready(function () {
        // 客戶
        $('#COMPANY').change(function () {
            $("#ITEM_NO").bindSelect({
                url: "/RDManage/RDM00/GetITEM?company=" + $(this).children('option:selected').val(),
                id: "ITEM_NO",
                text: "DESCR"
            });
        });

        // 品號帶入出機號，客戶編號
        $('#ITEM_NO').change(function () {
            var company = $('#COMPANY').val();
            var item_no = $(this).children('option:selected').val();
            var item_descr = $(this).children('option:selected').text();

            var prodno_array = new Array();
            prodno_array = item_descr.split(',');
            //alert(prodno_array[3]);
            if (prodno_array[3] != '' | prodno_array[3] != 'undefined') {
                $('#PROD_NO').val(prodno_array[3]);
            }

            if (company == 'CCM') {
                $.ajax({
                    url: "/RDManage/RDM00/GetCSNAME",
                    data: { keyValue: item_no },
                    type: "GET",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        var result = data;
                        //alert(result[0].CS_NO);

                        $('input[name=CS_NO]').val(result[0].CS_NO);
                        $('input[name=SHORT_NM]').val(result[0].SHORT_NM);
                    }
                });
            }

        });
    });
</script>

<form id="form1">
    <input id="SID" name="SID" type="hidden" value="" />
    <input id="CS_NO" name="CS_NO" type="hidden" value="" />
    <input id="SHORT_NM" name="SHORT_NM" type="hidden" value="" />
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">公司別</th>
                <td class="formValue" >
                    <select id="COMPANY" name="COMPANY" class="form-control required" style="width:200px">
                        <option value="CCM">總廠</option>
                        <option value="KSC">昆山</option>
                        <option value="NGB">寧波</option>
                        <option value="DAC">東莞</option>
                    </select>
                </td>
                <th class="formTitle">開放上傳</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Enable" name="Enable" type="checkbox"><label for="Enable">啟用</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">出機編號</th>
                <td class="formValue" >
                    <input id="PROD_NO" name="PROD_NO" class="form-control">

                </td>
                <th class="formTitle">開放新版</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="EnableNew" name="EnableNew" type="checkbox"><label for="EnableNew">啟用</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">機台品號</th>
                <td class="formValue" colspan="3">
                    <select id="ITEM_NO" name="ITEM_NO" class="form-control required" style="width:200px"></select>
                </td>
                
            </tr>
           
            <tr>
                <th class="formTitle">備註</th>
                <td class="formValue" colspan="3">
                    <textarea id="Remark" name="Remark" class="form-control" style="height: 100px;"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>
