@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/RDManage/RDM02/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        // 機台編號
        $("#Machine_Id").bindSelect({
            url: "/RDManage/RDM00/GetSrvProd",
            id: "M_ITEM_NO",
            text: "ITEM_DESCRIPT"
        });
    }
    function submitForm() {

        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/RDManage/RDM02/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })

    }

</script>

<form id="form1">
    <input id="SID" name="SID" type="hidden" value="" />
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">機台編號</th>
                <td class="formValue">
                    <select id="Machine_Id" name="Machine_Id" class="form-control required">
                        <option></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">開放</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Enable" name="Enable" type="checkbox"><label for="Enable">啟用</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">備註</th>
                <td class="formValue">
                    <textarea id="Remark" name="Remark" class="form-control" style="height: 100px;"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>
