
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/WorkflowManage/WFC01/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">

            <tr>
                <th class="formTitle">SID</th>
                <td class="formValue">
                    <select id="SID" name="SID" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">DEPID</th>
                <td class="formValue">
                    <select id="DEPID" name="DEPID" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">RULEID</th>
                <td class="formValue">
                    <select id="RULEID" name="RULEID" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">ORDID</th>
                <td class="formValue">
                    <select id="ORDID" name="ORDID" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">DECSR</th>
                <td class="formValue">
                    <select id="DECSR" name="DECSR" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">OrganizeId</th>
                <td class="formValue">
                    <select id="OrganizeId" name="OrganizeId" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">CreatorTime</th>
                <td class="formValue">
                    <select id="CreatorTime" name="CreatorTime" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">CreatorUserId</th>
                <td class="formValue">
                    <select id="CreatorUserId" name="CreatorUserId" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">LastModifyTime</th>
                <td class="formValue">
                    <select id="LastModifyTime" name="LastModifyTime" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">LastModifyUserId</th>
                <td class="formValue">
                    <select id="LastModifyUserId" name="LastModifyUserId" class="form-control required"></select>
                </td>
            </tr>

        </table>
    </div>
</form>



