
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/OrderManage/ORD05/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/OrderManage/ORD05/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <input id="SID" name="SID" type="hidden" value="" />
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">DEPID</th>
                <td class="formValue">
                    <input id="DEPID" name="DEPID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">EMPLYID</th>
                <td class="formValue">
                    <input id="EMPLYID" name="EMPLYID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>

            <tr>
                <th class="formTitle">LOCATION</th>
                <td class="formValue">
                    <input id="LOCATION" name="LOCATION" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">MEAT</th>
                <td class="formValue">
                    <input id="MEAT" name="MEAT" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">VEGETABLE</th>
                <td class="formValue">
                    <input id="VEGETABLE" name="VEGETABLE" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                
            </tr>
            <tr>
                <th class="formTitle">REMARK</th>
                <td class="formValue">
                    <input id="REMARK" name="REMARK" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
        </table>
    </div>
</form>



