@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/OrderManage/ORD05/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
					{ label: "SID", name: "SID", hidden: true, key: true, width: 80, align: 'left' },
                    { label: "登記員工", name: "EMPLYID", width: 80, align: 'left' },
                     {
                         label: "登記員工名稱", name: "", width: 60, align: 'left',
                         formatter: function (cellvalue, options, rowObject) {
                             return top.clients.user[rowObject.EMPLYID] == null ? "" : top.clients.user[rowObject.EMPLYID].fullname;
                         }
                     },
                    { label: "登記部門", name: "DEPID",  width: 80, align: 'left' },
                     {
                         label: "登記部門名稱", name: "", width: 140, align: 'left',
                         formatter: function (cellvalue, options, rowObject) {
                             return top.clients.dept[rowObject.DEPID] == null ? "" : top.clients.dept[rowObject.DEPID].fullname;
                         }
                     },
                     { label: "登記地點", name: "LOCATION", hidden: true, width: 70, align: 'left' },
				     {
				         label: "登記地點", name: "", width: 70, align: 'left',
				         formatter: function (cellvalue, options, rowObject) {
				             if (rowObject.LOCATION == '1') {
				                 return '精湛總廠';
				             } else if (rowObject.LOCATION == '2') {
				                 return '一廠';
				             } else if (rowObject.LOCATION == '3') {
				                 return '全盈';
				             } else if (rowObject.LOCATION == '4') {
				                 return '關廟';
				             } else if (rowObject.LOCATION == '5') {
				                 return '柳營';
				             }
				         }
				     },
				    { label: "葷食人數", name: "MEAT", width: 80, align: 'right' },
				    { label: "素食人數", name: "VEGETABLE", width: 80, align: 'right' },
				    { label: "備註", name: "REMARK", width: 80, align: 'left' },

            ],
            rowNum: 300,
			pager: "#gridPager",
			sortname: 'EMPLYID asc,DEPID desc,LOCATION asc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增",
            url: "/OrderManage/ORD05/Form",
            width: "640px",
            height: "400px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().SID;
        $.modalOpen({
            id: "Form",
            title: "修改",
            url: "/OrderManage/ORD05/Form?keyValue=" + keyValue,
            width: "640px",
            height: "400px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/OrderManage/ORD05/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().SID },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().SID;
        $.modalOpen({
            id: "Details",
            title: "查看",
            url: "/OrderManage/ORD05/Details?keyValue=" + keyValue,
            width: "640px",
            height: "400px",
            btn: null,
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-info" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-info dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已選中<span>1</span>項</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>刪除</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="關鍵字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-info"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

