@{
    ViewBag.Title = "精湛EIP企業入口網站";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

}
        <h3>EIP首頁</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">會議室/公務車輛</div>
                    <div class="panel-body">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs " role="tablist">
                                <li role="presentation" class="active"><a href="#bookingcar" aria-controls="bookingcar" role="tab" data-toggle="tab">公務車</a></li>
                                <li role="presentation"><a href="#bookingroom" aria-controls="bookingroom" role="tab" data-toggle="tab">會議室</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="bookingcar">
                                        建構中...
                                </div>
                                <div role="tabpanel" class="tab-pane fade " id="bookingroom">
                                    建構中...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">人員動態狀況</div>
                    <div class="panel-body">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs " role="tablist">
                                <li role="presentation" class="active"><a href="#outdoor" aria-controls="outdoor" role="tab" data-toggle="tab">外出人員</a></li>
                                <li role="presentation"><a href="#absent" aria-controls="absent" role="tab" data-toggle="tab">差勤人員</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="outdoor">
                                    建構中...
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="absent">
                                    建構中...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">公佈欄</div>
                    <div class="panel-body">
                        [員工公佈欄]:<br />
                        2016/6/13 - 菜單6/13-6/17<br />
                        2016/6/13 - 6/20(一)晨會名單<br />
                        2016/6/8 - 電動車使用注意事項<br />
                        2016/6/4 - 人事異動公告<br />

                    </div>
                </div>
   
            </div>

            <div class="col-md-3">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">分享專區</h3>
                    </div>
                    <div class="panel-body">
                        精湛大家族
                        加入精湛、真湛 LINE群組

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">教育訓練</h3>
                    </div>
                    <div class="panel-body">
                        無
                    </div>
                </div>
            </div>
        </div>
       
