@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/ERPManage/SS03/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#form1").find('.form-control,select,input').attr('disabled', 'disabled');
                    $("#form1").find('div.ckbox label').attr('for', '');
                }
            });
        }
    });
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/ERPManage/SS03/GetTreeSelectJson",
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/ERPManage/SS03/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <input id="SID" name="SID" type="hidden" />
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">帳號</th>
                <td class="formValue">
                    <input id="USR_NO" name="USR_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">姓名</th>
                <td class="formValue">
                    <input id="PRG_NO" name="PRG_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">程式代碼</th>
                <td class="formValue">
                    <input id="PRG_NO" name="PRG_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">程式名稱</th>
                <td class="formValue">
                    <input id="PRG_NM" name="PRG_NM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                
            </tr>
            <tr>
                <th class="formTitle">執行</th>
                <td class="formValue">
                    <select id="C_RUN" name="C_RUN" class="form-control required">
                        <option value="Y">允許</option>
                        <option value="N">禁用</option>
                        <option value="1">個人</option>
                        <option value="G">群組</option>
                    </select>
                </td>
                <th class="formTitle">新增</th>
                <td class="formValue">
                    <select id="C_ADD" name="C_ADD" class="form-control required">
                        <option value="Y">允許</option>
                        <option value="N">禁用</option>
                        <option value="1">個人</option>
                        <option value="G">群組</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">查詢</th>
                <td class="formValue">
                    <select id="C_QRY" name="C_QRY" class="form-control required">
                        <option value="Y">允許</option>
                        <option value="N">禁用</option>
                        <option value="1">個人</option>
                        <option value="G">群組</option>
                    </select>
                </td>
                <th class="formTitle">修改</th>
                <td class="formValue">
                    <select id="C_MDY" name="C_MDY" class="form-control required">
                        <option value="Y">允許</option>
                        <option value="N">禁用</option>
                        <option value="1">個人</option>
                        <option value="G">群組</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">確認</th>
                <td class="formValue">
                    <select id="C_CFM" name="C_CFM" class="form-control required">
                        <option value="Y">允許</option>
                        <option value="N">禁用</option>
                        <option value="1">個人</option>
                        <option value="G">群組</option>
                    </select>
                </td>
                <th class="formTitle">還原</th>
                <td class="formValue">
                    <select id="C_UCF" name="C_UCF" class="form-control required">
                        <option value="Y">允許</option>
                        <option value="N">禁用</option>
                        <option value="1">個人</option>
                        <option value="G">群組</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">刪除</th>
                <td class="formValue">
                    <select id="C_DEL" name="C_DEL" class="form-control required">
                        <option value="Y">允許</option>
                        <option value="N">禁用</option>
                        <option value="1">個人</option>
                        <option value="G">群組</option>
                    </select>
                </td>
                <th class="formTitle">金額</th>
                <td class="formValue">
                    <select id="C_CST" name="C_CST" class="form-control required">
                        <option value="Y">允許</option>
                        <option value="N">禁用</option>
                        <option value="1">個人</option>
                        <option value="G">群組</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">複製</th>
                <td class="formValue">
                    <select id="C_CPY" name="C_CPY" class="form-control required">
                        <option value="Y">允許</option>
                        <option value="N">禁用</option>
                        <option value="1">個人</option>
                        <option value="G">群組</option>
                    </select>
                </td>
                <th class="formTitle">郵件</th>
                <td class="formValue">
                    <select id="C_EML" name="C_EML" class="form-control required">
                        <option value="Y">允許</option>
                        <option value="N">禁用</option>
                        <option value="1">個人</option>
                        <option value="G">群組</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">附檔</th>
                <td class="formValue">
                    <select id="C_ATT" name="C_ATT" class="form-control required">
                        <option value="Y">允許</option>
                        <option value="N">禁用</option>
                        <option value="1">個人</option>
                        <option value="G">群組</option>
                    </select>
                </td>
                <th class="formTitle">送簽</th>
                <td class="formValue">
                    <select id="C_SIN" name="C_SIN" class="form-control required">
                        <option value="Y">允許</option>
                        <option value="N">禁用</option>
                        <option value="1">個人</option>
                        <option value="G">群組</option>
                    </select>
                </td>
            </tr>

        </table>
    </div>
</form>



