
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/OrderManage/ORD03/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/OrderManage/ORD03/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">COL_SAMPLE</th>
                <td class="formValue">
                    <input id="COL_SAMPLE" name="COL_SAMPLE" type="text" class="form-control required" placeholder="請輸入標題" />
                    <select id="COL_SAMPLE" name="COL_SAMPLE" class="form-control required"></select>
                    <input id="GUID" name="GUID" type="hidden" value="" />
                </td>

            </tr>
            <tr>
                <th class="formTitle">SID</th>
                <td class="formValue">
                    <input id="SID" name="SID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">LUTYPE</th>
                <td class="formValue">
                    <input id="LUTYPE" name="LUTYPE" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">LOCATION</th>
                <td class="formValue">
                    <input id="LOCATION" name="LOCATION" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">LUDATE</th>
                <td class="formValue">
                    <input id="LUDATE" name="LUDATE" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">FROM_YEAR</th>
                <td class="formValue">
                    <input id="FROM_YEAR" name="FROM_YEAR" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">FROM_MONTH</th>
                <td class="formValue">
                    <input id="FROM_MONTH" name="FROM_MONTH" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">TO_YEAR</th>
                <td class="formValue">
                    <input id="TO_YEAR" name="TO_YEAR" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">TO_MONTH</th>
                <td class="formValue">
                    <input id="TO_MONTH" name="TO_MONTH" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">EMPLYID</th>
                <td class="formValue">
                    <input id="EMPLYID" name="EMPLYID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">DEPID</th>
                <td class="formValue">
                    <input id="DEPID" name="DEPID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">MEATPEOPLES</th>
                <td class="formValue">
                    <input id="MEATPEOPLES" name="MEATPEOPLES" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">VEGEPEOPLES</th>
                <td class="formValue">
                    <input id="VEGEPEOPLES" name="VEGEPEOPLES" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">AMOUNT</th>
                <td class="formValue">
                    <input id="AMOUNT" name="AMOUNT" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">REMK</th>
                <td class="formValue">
                    <input id="REMK" name="REMK" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">OrganizeId</th>
                <td class="formValue">
                    <input id="OrganizeId" name="OrganizeId" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">CreatorTime</th>
                <td class="formValue">
                    <input id="CreatorTime" name="CreatorTime" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">CreatorUserId</th>
                <td class="formValue">
                    <input id="CreatorUserId" name="CreatorUserId" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">LastModifyTime</th>
                <td class="formValue">
                    <input id="LastModifyTime" name="LastModifyTime" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">LastModifyUserId</th>
                <td class="formValue">
                    <input id="LastModifyUserId" name="LastModifyUserId" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>

        </table>
    </div>
</form>



