SELECT A.OVRTNO, A.APPDATE, A.MRDT, A.FETB, A.FETE, A.DETB, A.DETE, A.DEMIN, A.REHRS, A.LNO, A.OVRTP, A.DEREASON, A.STATUS, A.REM, A.DEPID, A.OTTP, 
A.OVT1, A.OVT2, A.OVT3, A.OWMON, A.EMPLYID,EIP.dbo.SF_GETEMPNAME(A.EMPLYID) EMPLYNM, A.C_HLD,  A.C_SOURCE, A.REHRS1, A.DEPIDAPP, A.FILFRL
--,(SELECT BB.SITEID,BB.EMPLYID FROM WF_SIGNM AA LEFT JOIN WF_SIGND BB ON AA.SID = BB.PSID WHERE AA.DOCID = A.OVRTNO) 
 FROM HRSDBR53.dbo.HR_OVRTM A
 WHERE A.STATUS = 'SN'
 
 SELECT MIN(BB.SITEID),BB.EMPLYID,BB.STATUS FROM WF_SIGNM AA LEFT JOIN WF_SIGND BB ON AA.SID = BB.PSID 
 WHERE AA.DOCID = 'OT170210093' AND BB.STATUS = 'SN'
 AND AA
 OT170210093
 
 
 SELECT A.LOCATION,0-SUM(A.MEATPEOPLES) AS MEATPEOPLES,0-SUM(A.VEGEPEOPLES) AS VEGEPEOPLES 
FROM ( 
SELECT DISTINCT A.LOCATION,A.EMPLYID,A.MEAT AS MEATPEOPLES,A.VEGETABLE AS VEGEPEOPLES  
FROM BU_LUNCH_SETTING A  
LEFT JOIN V_HR_TICKET T ON A.EMPLYID=T.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND T.YYMMDD='20170302' AND T.TKT_HH>=4 AND T.TKT_HH<23 
LEFT JOIN HRSDBR53..HR_EMPSFT T1 ON A.EMPLYID=T1.FLNO COLLATE Chinese_Taiwan_Stroke_CI_AS AND (T1.DDAY='20170302') AND SFT_NO='D' 
LEFT JOIN V_HR_TICKET T2 ON A.EMPLYID=T2.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND T2.YYMMDD='20170302'  AND T2.TKT_HH>=8 AND T2.TKT_NN>0 AND T2.TKT_HH<=9 AND    A.DEPID IN('K30') 
WHERE A.LOCATION='1' AND (T.YYMMDD IS NULL OR (T.YYMMDD IS NOT NULL AND T1.DDAY IS NOT NULL ) OR T2.YYMMDD IS NOT NULL )
) A 
GROUP BY A.LOCATION


--缺勤葷食
SELECT DISTINCT A.LOCATION,A.EMPLYID,dbo.SF_GETEMPNAME(A.EMPLYID) EMPLYNM,A.MEAT AS MEATPEOPLES,A.VEGETABLE AS VEGEPEOPLES  
FROM BU_LUNCH_SETTING A  
LEFT JOIN V_HR_TICKET T ON A.EMPLYID=T.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND T.YYMMDD='2017-03-09' AND T.TKT_HH>=4 AND T.TKT_HH<23 
LEFT JOIN HRSDBR53..HR_EMPSFT T1 ON A.EMPLYID=T1.FLNO COLLATE Chinese_Taiwan_Stroke_CI_AS AND (T1.DDAY='2017-03-09') AND SFT_NO='D' 
LEFT JOIN V_HR_TICKET T2 ON A.EMPLYID=T2.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND T2.YYMMDD='2017-03-09'  AND T2.TKT_HH>=8 AND T2.TKT_NN>0 AND T2.TKT_HH<=9 AND    A.DEPID IN('K30') 
WHERE A.LOCATION='1' AND (T.YYMMDD IS NULL OR (T.YYMMDD IS NOT NULL AND T1.DDAY IS NOT NULL ) OR T2.YYMMDD IS NOT NULL )
AND A.MEAT >0

--缺勤素食
SELECT DISTINCT A.LOCATION,A.EMPLYID,A.MEAT AS MEATPEOPLES,A.VEGETABLE AS VEGEPEOPLES  
FROM BU_LUNCH_SETTING A  
LEFT JOIN V_HR_TICKET T ON A.EMPLYID=T.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND T.YYMMDD='20170309' AND T.TKT_HH>=4 AND T.TKT_HH<23 
LEFT JOIN HRSDBR53..HR_EMPSFT T1 ON A.EMPLYID=T1.FLNO COLLATE Chinese_Taiwan_Stroke_CI_AS AND (T1.DDAY='20170309') AND SFT_NO='D' 
LEFT JOIN V_HR_TICKET T2 ON A.EMPLYID=T2.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND T2.YYMMDD='20170309'  AND T2.TKT_HH>=8 AND T2.TKT_NN>0 AND T2.TKT_HH<=9 AND    A.DEPID IN('K30') 
WHERE A.LOCATION='1' AND (T.YYMMDD IS NULL OR (T.YYMMDD IS NOT NULL AND T1.DDAY IS NOT NULL ) OR T2.YYMMDD IS NOT NULL )
AND A.VEGETABLE >0