DECLARE @OVRTNO NVARCHAR(50);

DECLARE C1 CURSOR LOCAL  FOR
SELECT A.OVRTNO
FROM HRSDBR53..HR_OVRTM A
WHERE A.STATUS = 'OP';

  DELETE WF_SIGNM_TEST;
  DELETE WF_SIGND_TEST;
  OPEN C1;
  FETCH NEXT FROM C1 INTO @OVRTNO
  
  WHILE (@@FETCH_STATUS = 0)
  BEGIN
    --產生簽核途程
    EXEC EIP01_TEST.dbo.SP_GEN_SIGNROUTE2 @OVRTNO
  FETCH NEXT FROM C1 INTO @OVRTNO
  END
  
  CLOSE C1;
  DEALLOCATE C1; 
GO
SELECT * FROM WF_SIGNM_TEST;
SELECT * FROM WF_SIGND_TEST;

SELECT A.*,B.*,C.* ,EIP.dbo.SF_EMP_NAME(C.EMPLYID) EMPLYNM
FROM HRSDBR53..HR_OVRTM A
INNER  JOIN EIP01_TEST..WF_SIGNM_TEST B ON A.OVRTNO = (B.DOCID collate Chinese_Taiwan_Stroke_CI_AS)
INNER  JOIN EIP01_TEST..WF_SIGND_TEST C ON B.SIGNID = C.SIGNID