USE [EIP];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
ALTER PROCEDURE [dbo].[SP_COMPUTLUNCH]
(
@EMPLYID nvarchar(50)        -- 人員
)
WITH EXEC AS CALLER
AS
-- 計算用餐人數
DECLARE @LunchDate datetime = getdate();
DECLARE @LOCATION VARCHAR(5),
        @ApplyMEATPEOPLES INT = 0,
        @ApplyVEGEPEOPLES INT= 0,
        @REALMEATPEOPLES INT = 0,
        @REALVEGEPEOPLES INT= 0,
        @TuneMEATPEOPLES INT= 0,
        @TuneVEGEPEOPLES INT= 0,
        @UnitPrice INT= 75,--預設75
        @TunePAYEMPLYS INT= 0,
        @REALPAYEMPLYS INT= 0;

DECLARE C1 CURSOR  FOR
-- 總廠、一廠在職人數
SELECT A.LOCATION, 
SUM(CASE WHEN ISNULL(B.VEGEPEOPLES,0)=1 THEN 0 ELSE 1 END ) AS MEATPEOPLES, 
SUM(ISNULL(B.VEGEPEOPLES,0)) AS VEGEPEOPLES FROM  
( 
SELECT EMPLYID,DEPID,'1' AS LOCATION FROM V_HR_EMPLYM  
WHERE C_STA ='A' AND ((LLFDT IS NULL OR LLFDT>=@LunchDate ) AND DEPID NOT IN ('B60','B70','Y30','K10','K30','N05','N06','N09','N10','N00') 
AND EMPLYID NOT IN ('A830901','A830902','B001203','B010505','B010701','B030309') ) OR 
(EMPLYID IN ('B021202','B040702'))  
UNION 
SELECT EMPLYID,DEPID,'2' AS LOCATION FROM V_HR_EMPLYM  
WHERE C_STA ='A' AND (LLFDT IS NULL OR LLFDT>=@LunchDate ) AND DEPID IN ('K10','K30','N05','N06','N09','N10','N00')  
AND EMPLYID NOT IN ('A830901','A830902','B001203','B010505','B010701','B030309','B021202','B040702')   
) A 
LEFT JOIN BU_LUNCH B ON A.EMPLYID=B.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND B.LUTYPE='6' 
GROUP BY A.LOCATION;

OPEN C1; --C1 START
FETCH NEXT FROM C1 INTO @LOCATION,@REALMEATPEOPLES,@REALVEGEPEOPLES
WHILE (@@FETCH_STATUS = 0)
BEGIN
  --DECLARE @LunchDate datetime = getdate(),@LOCATION VARCHAR(50)=1;
  DECLARE @LOCATION2 VARCHAR(5) ='',@MEATPEOPLES INT = 0,@VEGEPEOPLES INT = 0;
   --午餐缺勤人數，董事長不納入
   SELECT @LOCATION2=A.LOCATION,@MEATPEOPLES = (0-SUM(A.MEATPEOPLES)),@VEGEPEOPLES =(0-SUM(A.VEGEPEOPLES)) 
   FROM ( 
     SELECT DISTINCT A.LOCATION,A.EMPLYID,CASE WHEN ISNULL(B.VEGEPEOPLES,0)=1 THEN 0 ELSE 1 END AS MEATPEOPLES,ISNULL(B.VEGEPEOPLES,0) AS VEGEPEOPLES  
     FROM 
     ( 
       SELECT EMPLYID,DEPID,'1' AS LOCATION FROM V_HR_EMPLYM 
       WHERE C_STA ='A' AND (LLFDT IS NULL OR LLFDT>=@LunchDate ) AND DEPID NOT IN ('B60','B70','Y30','K10','K30','N05','N06','N09','N10')  
       AND EMPLYID NOT IN ('A830901','A830902','B001203','B010505','B010701','B030309') 
       UNION 
       SELECT EMPLYID,DEPID,'2' AS LOCATION FROM V_HR_EMPLYM 
       WHERE C_STA ='A' AND (LLFDT IS NULL OR LLFDT>=@LunchDate ) AND DEPID IN ('K10','K30','N05','N06','N09','N10') 
       AND EMPLYID NOT IN ('A830901','A830902','B001203','B010505','B010701','B030309') 
   ) A 
   LEFT JOIN HRSDBR53..HR_TICKET T ON A.EMPLYID=T.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND T.YYMMDD=@LunchDate AND T.TKT_HH>5 AND T.TKT_HH<23 
   LEFT JOIN BU_LUNCH B ON A.EMPLYID=B.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND B.LUTYPE='6' 
   LEFT JOIN HRSDBR53..HR_EMPSFT T1 ON A.EMPLYID=T1.FLNO COLLATE Chinese_Taiwan_Stroke_CI_AS AND (T1.DDAY=@LunchDate) AND SFT_NO='D' 
   LEFT JOIN HRSDBR53..HR_TICKET T2 ON A.EMPLYID=T2.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND T2.YYMMDD=@LunchDate  AND T2.TKT_HH>=8 AND T2.TKT_NN>0 AND T2.TKT_HH<=9 AND A.DEPID IN('K30') 
   WHERE A.LOCATION=@LOCATION AND (T.YYMMDD IS NULL OR (T.YYMMDD IS NOT NULL AND T1.DDAY IS NOT NULL ) OR T2.YYMMDD IS NOT NULL ) ) A 
   GROUP BY A.LOCATION;
   
   SET @REALMEATPEOPLES += @MEATPEOPLES;
   SET @REALVEGEPEOPLES += @VEGEPEOPLES;

   --登記異動人數/2類整月
   SELECT @LOCATION2=F.LOCATION,
   @MEATPEOPLES = SUM(0-(CASE WHEN F.LOCATION=C.LOCATION THEN C.MEATPEOPLES ELSE 0 END)),
   @VEGEPEOPLES = SUM(0-(CASE WHEN F.LOCATION=C.LOCATION THEN C.VEGEPEOPLES ELSE 0 END))
   FROM (SELECT DISTINCT LOCATION FROM BU_LUNCH) F
   LEFT JOIN (SELECT FROM_YEAR,FROM_MONTH,TO_YEAR,TO_MONTH,LOCATION,SUM(MEATPEOPLES) AS MEATPEOPLES,SUM(VEGEPEOPLES) AS VEGEPEOPLES FROM BU_LUNCH WHERE LUTYPE='2' GROUP BY FROM_YEAR,FROM_MONTH,TO_YEAR,TO_MONTH,LOCATION) C ON F.LOCATION=C.LOCATION AND @LunchDate>=FROM_YEAR+'-'+FROM_MONTH+'-01' AND @LunchDate<=TO_YEAR+'-'+TO_MONTH+'-31'
   WHERE F.LOCATION=@LOCATION GROUP BY F.LOCATION;
   
   SET @REALMEATPEOPLES += @MEATPEOPLES;
   SET @REALVEGEPEOPLES += @VEGEPEOPLES;
   
   --登記異動人數/1、3、4類
   SELECT @LOCATION2=F.LOCATION, 
   @MEATPEOPLES= SUM(0-(CASE WHEN F.LOCATION=B.LOCATION THEN B.MEATPEOPLES ELSE 0 END)+(CASE WHEN F.LOCATION=D.LOCATION THEN D.MEATPEOPLES ELSE 0 END)+(CASE WHEN F.LOCATION=E.LOCATION THEN E.MEATPEOPLES ELSE 0 END)), 
   @VEGEPEOPLES= SUM(0-(CASE WHEN F.LOCATION=B.LOCATION THEN B.VEGEPEOPLES ELSE 0 END)+(CASE WHEN F.LOCATION=D.LOCATION THEN D.VEGEPEOPLES ELSE 0 END)+(CASE WHEN F.LOCATION=E.LOCATION THEN E.VEGEPEOPLES ELSE 0 END)) 
   FROM (SELECT DISTINCT LOCATION FROM BU_LUNCH) F 
   LEFT JOIN (SELECT LUDATE,LOCATION,SUM(MEATPEOPLES) AS MEATPEOPLES,SUM(VEGEPEOPLES) AS VEGEPEOPLES FROM BU_LUNCH WHERE LUTYPE='1' GROUP BY LUDATE,LOCATION) B ON F.LOCATION=B.LOCATION AND B.LUDATE=@LunchDate  
   LEFT JOIN (SELECT LUDATE,LOCATION,SUM(MEATPEOPLES) AS MEATPEOPLES,SUM(VEGEPEOPLES) AS VEGEPEOPLES FROM BU_LUNCH WHERE LUTYPE='3' GROUP BY LUDATE,LOCATION) D  ON F.LOCATION=D.LOCATION AND D.LUDATE=@LunchDate  
   LEFT JOIN (SELECT LUDATE,LOCATION,SUM(MEATPEOPLES) AS MEATPEOPLES,SUM(VEGEPEOPLES) AS VEGEPEOPLES FROM BU_LUNCH WHERE LUTYPE='4' GROUP BY LUDATE,LOCATION) E  ON F.LOCATION=E.LOCATION AND E.LUDATE=@LunchDate 
   WHERE F.LOCATION=@LOCATION GROUP BY F.LOCATION;
   
   SET @ApplyMEATPEOPLES += @MEATPEOPLES;
   SET @ApplyVEGEPEOPLES += @VEGEPEOPLES;
   SET @REALMEATPEOPLES += @MEATPEOPLES;
   SET @REALVEGEPEOPLES += @VEGEPEOPLES;
   
   --調整人數
   SELECT TuneMEATPEOPLES,TuneVEGEPEOPLES,UNITPRICE FROM BU_LUNCH_AMOUNT 
   WHERE LUNCHDATE=@LunchDate AND LOCATION=@LOCATION;
   
FETCH NEXT FROM C1 INTO @LOCATION,@REALMEATPEOPLES,@REALVEGEPEOPLES
  END  --INNER CURSOR
CLOSE C1;
DEALLOCATE C1;  -- C1 END

/*
SELECT A.LOCATION,0-SUM(A.MEATPEOPLES) AS MEATPEOPLES,0-SUM(A.VEGEPEOPLES) AS VEGEPEOPLES 
FROM (
SELECT DISTINCT A.LOCATION,A.EMPLYID,CASE WHEN ISNULL(B.VEGEPEOPLES,0)=1 THEN 0 ELSE 1 END AS MEATPEOPLES,ISNULL(B.VEGEPEOPLES,0) AS VEGEPEOPLES  
FROM 
( 
SELECT EMPLYID,DEPID,'1' AS LOCATION FROM VIEW_employee 
WHERE (LLFDT IS NULL OR LLFDT>=@LunchDate ) AND DEPID NOT IN ('B60','B70','Y30','K10','K30','N05','N06','N09','N10')  
AND EMPLYID NOT IN ('A830901','A830902','B001203','B010505','B010701','B030309') 
UNION 
SELECT EMPLYID,DEPID,'2' AS LOCATION FROM VIEW_employee 
WHERE (LLFDT IS NULL OR LLFDT>=@LunchDate ) AND DEPID IN ('K10','K30','N05','N06','N09','N10') 
AND EMPLYID NOT IN ('A830901','A830902','B001203','B010505','B010701','B030309') 
) A 
LEFT JOIN HR_TICKET T ON A.EMPLYID=T.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND T.YYMMDD=@LunchDate AND T.TKT_HH>5 AND T.TKT_HH<23 
LEFT JOIN BU_LUNCH B ON A.EMPLYID=B.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND B.LUTYPE='6' 
LEFT JOIN HRSDBR53..HR_EMPSFT T1 ON A.EMPLYID=T1.FLNO COLLATE Chinese_Taiwan_Stroke_CI_AS AND (T1.DDAY=@LunchDate) AND SFT_NO='D' 
LEFT JOIN HR_TICKET T2 ON A.EMPLYID=T2.EMPLYID COLLATE Chinese_Taiwan_Stroke_CI_AS AND T2.YYMMDD=@LunchDate  AND T2.TKT_HH>=8 AND T2.TKT_NN>0 AND T2.TKT_HH<=9 AND A.DEPID IN('K30') 
WHERE A.LOCATION=@LOCATION AND (T.YYMMDD IS NULL OR (T.YYMMDD IS NOT NULL AND T1.DDAY IS NOT NULL ) OR T2.YYMMDD IS NOT NULL ) ) A 
GROUP BY A.LOCATION;
*/
GO