SELECT SID, ISSUEID, COMPANY, ISSUEDATE, OFFICIAL_NM, SUBJECT, DESCR, AttachFIle, EMPID, DEPID, STATUS, DOCTYPE, CONTACT, PHONEAREACODE, PHONE, PHONEEXTENSION, FAX, Original, Duplicate, GUID, OrganizeId, CreatorTime, CreatorUserId, LastModifyTime
 FROM EIP.dbo.FR_OFFIDOC_ISSUE
 WHERE EMPID= 'B040114'
 AND ISSUEDATE BETWEEN '2016-09-26'  AND  '2016-09-29'
 
 
 SELECT SID,COMPANY, ISSUEDATE, OFFICIAL_NM, SUBJECT, DESCR, AttachFIle, EMPID, DEPID, STATUS, DOCTYPE, CONTACT, PHONEAREACODE, PHONE, PHONEEXTENSION, FAX, Original, Duplicate, GUID
 FROM EIP.dbo.FR_OFFIDOC_ISSUE_TEST
 
SELECT MAX(ISSUEID)
 FROM EIP.dbo.FR_OFFIDOC_ISSUE
 WHERE ISSUEID LIKE '全盈(桃)字第%'
 
--產生單號 
DECLARE @SID nvarchar(50)='',@COMPANY nvarchar(1)='',@TO_NO  nvarchar(50)='',@FROM_NO  nvarchar(50)='',@PREFIX nvarchar(50);
DECLARE INNER_CUR CURSOR FOR
   SELECT SID,COMPANY
   FROM EIP.dbo.FR_OFFIDOC_ISSUE_TEST;
OPEN INNER_CUR;
FETCH NEXT FROM INNER_CUR INTO @SID,@COMPANY
WHILE (@@FETCH_STATUS = 0)
BEGIN

if (@COMPANY='0')
begin
 set @PREFIX='精湛字第';
end
else if (@COMPANY='1')
begin
  set @PREFIX='全盈字第';
end
else if (@COMPANY='2')
begin
  set @PREFIX='全盈(桃)字第';
end

declare @result table (FROM_NO nvarchar(50), TO_NO nvarchar(50))
insert into @result
exec dbo.SP_GEN_ORDNO  'DOC_ISSUE',@PREFIX,1;

select @FROM_NO=FROM_NO,@TO_NO=TO_NO from @result

    
  --TODO : 變更簽核途程明細狀態
  BEGIN TRAN
    UPDATE FR_OFFIDOC_ISSUE_TEST SET ISSUEID = @FROM_NO,GUID=NEWID()
    WHERE SID = @SID;
  COMMIT TRAN
  

  FETCH NEXT FROM INNER_CUR INTO @SID,@COMPANY
  END  --INNER CURSOR
CLOSE INNER_CUR;
DEALLOCATE INNER_CUR;  -- C2 END

INSERT INTO EIP.dbo.FR_OFFIDOC_ISSUE(SID,ISSUEID,COMPANY, ISSUEDATE, OFFICIAL_NM, SUBJECT, DESCR, AttachFIle, EMPID, DEPID, STATUS, DOCTYPE, CONTACT, PHONEAREACODE, PHONE, PHONEEXTENSION, FAX, Original, Duplicate, GUID)
 SELECT SID,ISSUEID,COMPANY, ISSUEDATE, OFFICIAL_NM, SUBJECT, DESCR, AttachFIle, EMPID, DEPID, STATUS, DOCTYPE, CONTACT, PHONEAREACODE, PHONE, PHONEEXTENSION, FAX, Original, Duplicate, GUID
 FROM EIP.dbo.FR_OFFIDOC_ISSUE_TEST