USE [EIP01_TEST];
GO
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
ALTER PROCEDURE [dbo].[SP_GEN_SIGNROUTE]
(
@OVRTNO nvarchar(20)=''        --加班單號  
)
WITH EXEC AS CALLER
AS
/*
單據別,1=加班單 2=請修單 3=請假單二日 4=請假單二日以上 
單據狀態,OP=未送簽 SN=簽核中 CF=核准 CL=已退回 NL=已作廢 PB=已撤簽
*/
-- 定義變數
DECLARE @SUBJECT nvarchar(50), @EMPLYID nvarchar(50),@DEPID nvarchar(50),
        @RULEID nvarchar(50),@SITE int,@SITEID int,@ROLEID int,@SIGNID int,@Return_Value nvarchar(100),
        @EMPLYID8 nvarchar(15),@SIGNEMPLYID1 nvarchar(15),@SIGNEMPLYID2 nvarchar(15),@SIGNEMPLYID3 nvarchar(15),@SIGNEMPLYID4 nvarchar(15),
        @PROXY1ID nvarchar(15),@PROXY2ID nvarchar(15),@PROXY3ID nvarchar(15),@_i int=1,@_j int=0;

-- 加班單資料
DECLARE C1 CURSOR FOR
--OVRTNO, APPDATE, MRDT, FETB, FETE, DETB, DETE, DEMIN, REHRS, LNO, OVRTP, DEREASON, STATUS, REM, DEPID, OTTP, OVT1, OVT2, OVT3, OWMON, EMPLYID, C_HLD, C_SOURCE, REHRS1, DEPIDAPP, FILFRL
SELECT A.DEREASON,A.EMPLYID,B.DEPID
 FROM HRSDBR53..HR_OVRTM A LEFT OUTER JOIN HRSDBR53..HR_EMPLYM B ON A.EMPLYID = B.EMPLYID
 WHERE 1=1 
 --AND A.EMPLYID = 'B040111'
 AND OVRTNO = @OVRTNO;

OPEN C1;
FETCH NEXT FROM C1 INTO @SUBJECT,@EMPLYID,@DEPID
WHILE (@@FETCH_STATUS = 0)
BEGIN
   /* 
   STEP-1.產生簽核途程單頭 EIP01_TEST.dbo.WF_SIGNM
   單別,原因,簽核狀態,員工,送出日期,單號
   */
   INSERT INTO WF_SIGNM_TEST(FLOWID, SUBJECT, STATUS, EMP_ID, SENDDATE,DOCID )
   VALUES(1,@SUBJECT,'SN',@EMPLYID,GETDATE(),@OVRTNO);
   
   /* 簽核途程表頭編號 */
   SELECT @SIGNID = SIGNID
   FROM WF_SIGNM_TEST WHERE DOCID = @OVRTNO;
   /* 
   STEP-2.產生途程,以部門對應簽核規則,途程
          RULEID:規則代號 ,SITE:簽核途程數
   */
   
   --部門主管: 一階主管、二階主管、三階主管、四階主管，代理人
   SELECT @EMPLYID8 = EMPLYID8,@SIGNEMPLYID1 =SIGNEMPLYID1,@SIGNEMPLYID2=SIGNEMPLYID2,@SIGNEMPLYID3=SIGNEMPLYID3,@SIGNEMPLYID4=SIGNEMPLYID4,
          @PROXY1ID=PROXY1ID,@PROXY2ID=PROXY2ID,@PROXY3ID=PROXY3ID
          /*EMPLYID8,SIGNEMPLYID1,SIGNEMPLYID2,SIGNEMPLYID3,SIGNEMPLYID4,
          PROXY1ID,PROXY2ID,PROXY3ID*/
   FROM EIP01_TEST.dbo.VIEW_WF_SIGNER1
   WHERE DEP_NO = @DEPID;
   
   --簽核途程規則
   SELECT @RULEID=A.RULEID,@SITE=B.SITE
   FROM WF_DEPTMAP A INNER JOIN WF_RULEM B ON A.RULEID = B.RULEID
   WHERE A.DEPID = @DEPID;
   
   WHILE (@_i < @SITE)
   BEGIN
    IF (@_i = 1) --一階主管
    BEGIN
     IF (@EMPLYID8<>'')
     BEGIN
      SET @SIGNEMPLYID1 = @EMPLYID8;
     END
    
      /* 新增途程 */
      INSERT INTO WF_SIGND_TEST(SIGNID,SITEID,STATUS, EMPLYID)
       VALUES(@SIGNID,@_i,'SN',@SIGNEMPLYID1);
    END  
    
    IF (@_i = 2) --二階主管   
    BEGIN
      IF (@SIGNEMPLYID2 <> @SIGNEMPLYID1)
      BEGIN
        /* 新增途程 */
        INSERT INTO WF_SIGND_TEST(SIGNID,SITEID,STATUS, EMPLYID)
        VALUES(@SIGNID,@_i,'SN',@SIGNEMPLYID2);
      END
      ELSE
      BEGIN
        SET @SIGNEMPLYID2 = @SIGNEMPLYID1;
      END
    END
    
    IF (@_i = 3) --三階主管   
    BEGIN
      IF (@SIGNEMPLYID3 <> @SIGNEMPLYID2)
      BEGIN
        /* 新增途程 */
        INSERT INTO WF_SIGND_TEST(SIGNID,SITEID,STATUS, EMPLYID)
        VALUES(@SIGNID,@_i,'SN',@SIGNEMPLYID3);
      END
      ELSE
      BEGIN
        SET @SIGNEMPLYID3 = @SIGNEMPLYID2;
      END
    END
    
    IF (@_i = 4) --四階主管   
    BEGIN
      IF (@SIGNEMPLYID4 <> @SIGNEMPLYID3)
      BEGIN
        /* 新增途程 */
        INSERT INTO WF_SIGND_TEST(SIGNID,SITEID,STATUS, EMPLYID)
        VALUES(@SIGNID,@_i,'SN',@SIGNEMPLYID4);
      END
      ELSE
      BEGIN
        SET @SIGNEMPLYID4 = @SIGNEMPLYID3;
      END
    END
   
  	--加1
  	Set @_i=@_i+1
   END
   
   /* 人事主管，最後一關 */
   IF (@_i = @SITE) --人事主管   
   BEGIN
      /* 新增途程 */
      INSERT INTO WF_SIGND_TEST(SIGNID,SITEID,STATUS, EMPLYID)
      SELECT @SIGNID,@_i,'SN',EMPLYID8
      FROM WF_ROLED  WHERE ROLEID = 2;
   END
   
FETCH NEXT FROM C1 INTO @SUBJECT,@EMPLYID,@DEPID
END
CLOSE C1;
DEALLOCATE C1;   


return @_i
GO