
CREATE TABLE `ccm_rtdb`.`Sys_UserLogOn` (
	`F_Id` varchar(50) NOT NULL  COMMENT '用戶登錄主鍵',
	`F_UserId` varchar(50) NULL COMMENT '用戶主鍵',
	`F_UserPassword` varchar(50) NULL COMMENT '使用者密碼',
	`F_UserSecretkey` varchar(50) NULL COMMENT '用戶秘鑰',
	`F_AllowStartTime` datetime NULL COMMENT '允許登錄時間開始',
	`F_AllowEndTime` datetime NULL COMMENT '允許登錄時間結束',
	`F_LockStartDate` datetime NULL COMMENT '暫停用戶開始日期',
	`F_LockEndDate` datetime NULL COMMENT '暫停用戶結束日期',
	`F_FirstVisitTime` datetime NULL COMMENT '第一次存取時間',
	`F_PreviousVisitTime` datetime NULL COMMENT '上一次存取時間',
	`F_LastVisitTime` datetime NULL COMMENT '最後存取時間',
	`F_ChangePasswordDate` datetime NULL COMMENT '最後修改密碼日期',
	`F_MultiUserLogin` bit NULL COMMENT '允許同時有多用戶登錄',
	`F_LogOnCount` int NULL COMMENT '登錄次數',
	`F_UserOnLine` bit NULL COMMENT '線上狀態',
	`F_Question` varchar(50) NULL COMMENT '密碼提示問題',
	`F_AnswerQuestion` varchar(500) NULL COMMENT '密碼提示答案',
	`F_CheckIPAddress` bit NULL COMMENT '是否訪問限制',
	`F_Language` varchar(50) NULL COMMENT '系統語言',
	`F_Theme` varchar(50) DEFAULT 'theme_blue' COMMENT '使用介面樣式',
	PRIMARY KEY (`F_Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO `Sys_UserLogOn` (`F_Id`,`F_UserId`,`F_UserPassword`,`F_UserSecretkey`,`F_PreviousVisitTime`,`F_LastVisitTime`,`F_LogOnCount`,`F_Theme`) VALUES (N'b6407bdc-b4c1-4228-b9b1-4cce1ae8ace2',N'b6407bdc-b4c1-4228-b9b1-4cce1ae8ace2',N'b5f36ada01590d084f13b14e33fdcca8',N'190fee6ac4cbf5cb','2017-04-12 07:58:35','2017-04-12 09:17',0,N'theme-red');
INSERT INTO `Sys_UserLogOn` (`F_Id`,`F_UserId`,`F_UserPassword`,`F_UserSecretkey`,`F_PreviousVisitTime`,`F_LastVisitTime`,`F_LogOnCount`,`F_Theme`) VALUES (N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba',N'9f2ec079-7d0f-4fe2-90ab-8b09a8302aba',N'305d0ef6625072d6b771bce5b9735ede',N'ae75f0f288684d7d','2017-04-11 14:47:15','2017-04-12 11:22',0,N'theme-blue');

CREATE TABLE `ccm_rtdb`.`Sys_User`(
	`F_Id` varchar(50) NOT NULL COMMENT '用戶主鍵',
	`F_Account` varchar(50) NULL COMMENT '帳戶',
	`F_RealName` varchar(50) NULL COMMENT '姓名',
	`F_NickName` varchar(50) NULL COMMENT '暱稱',
	`F_HeadIcon` varchar(50) NULL COMMENT '頭像',
	`F_Gender` bit NULL COMMENT '性別',
	`F_Birthday` datetime NULL COMMENT '生日',
	`F_MobilePhone` varchar(20) NULL COMMENT '手機',
	`F_Email` varchar(50) NULL COMMENT '郵箱',
	`F_WeChat` varchar(50) NULL COMMENT '微信',
	`F_ManagerId` varchar(50) NULL COMMENT '主管主鍵',
	`F_SecurityLevel` int NULL COMMENT '安全級別',
	`F_Signature` varchar(500) NULL COMMENT '個性簽名',
	`F_OrganizeId` varchar(50) NULL COMMENT '組織主鍵',
	`F_DepartmentId` varchar(500) NULL COMMENT '部門主鍵',
	`F_RoleId` varchar(500) NULL COMMENT '角色主鍵',
	`F_DutyId` varchar(500) NULL COMMENT '職位主鍵',
	`F_IsAdministrator` bit NULL COMMENT '是否管理員',
	`F_SortCode` int NULL COMMENT '排序碼',
	`F_DeleteMark` bit NULL COMMENT '刪除標誌',
	`F_EnabledMark` bit NULL COMMENT '有效標誌',
	`F_Description` varchar(500) NULL COMMENT '描述',
	`F_CreatorTime` datetime NULL COMMENT '創建時間',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建人員',
	`F_LastModifyTime` datetime NULL COMMENT '最後修改時間',
	`F_LastModifyUserId` varchar(50) NULL COMMENT '最後修改用戶',
	`F_DeleteTime` datetime NULL COMMENT '刪除時間',
	`F_DeleteUserId` varchar(500) NULL COMMENT '刪除用戶',
PRIMARY KEY (`F_Id`) 
) ENGINE=InnoDB DEFAULT CHARSET=utf8;



CREATE TABLE `ccm_rtdb`.`Sys_RoleAuthorize`(
	`F_Id` varchar(50) NOT NULL COMMENT '角色授權主鍵',
	`F_ItemType` int NULL COMMENT '專案類型1-模組2-按鈕3-清單',
	`F_ItemId` varchar(50) NULL COMMENT '項目主鍵',
	`F_ObjectType` int NULL COMMENT '物件分類1-角色2-部門-3用戶',
	`F_ObjectId` varchar(50) NULL COMMENT '對象主鍵',
	`F_SortCode` int NULL COMMENT '排序碼',
	`F_CreatorTime` datetime NULL COMMENT '創建時間',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建用戶',
PRIMARY KEY (`F_Id`) 
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO `Sys_RoleAuthorize` (`F_Id`,`F_ItemType`,`F_ItemId`,`F_ObjectType`,`F_ObjectId`) VALUES (N'e7ee73b4-906f-4482-95d8-edfa922d173d',2,N'1c7dbb85-12ae-4f6e-bf61-edf80fd56d8e',1,N'F0A2B36F-35A7-4660-B46C-D4AB796591EB');
INSERT INTO `Sys_RoleAuthorize` (`F_Id`,`F_ItemType`,`F_ItemId`,`F_ObjectType`,`F_ObjectId`) VALUES (N'4136fd29-218a-4d8f-a387-e071303d689f',1,N'51174D27-3001-4CCF-AAB2-0AA2A6CEAA50',1,N'7A9CF301-FCDF-4BC9-A52B-A7D4FAE2D344');
INSERT INTO `Sys_RoleAuthorize` (`F_Id`,`F_ItemType`,`F_ItemId`,`F_ObjectType`,`F_ObjectId`) VALUES (N'42a9725c-2dcd-4ada-bae8-b93fb426cac1',2,N'2afd6442-bce4-4abd-99ca-1b16a3081e6b',1,N'7A9CF301-FCDF-4BC9-A52B-A7D4FAE2D344');

CREATE TABLE `ccm_rtdb`.`Sys_Role`(
	`F_Id` varchar(50) NOT NULL  COMMENT '角色主鍵',
	`F_OrganizeId` varchar(50) NULL COMMENT '組織主鍵',
	`F_Category` int NULL COMMENT '分類:1-角色2-職位',
	`F_EnCode` varchar(50) NULL COMMENT '編號',
	`F_FullName` varchar(50) NULL COMMENT '名稱',
	`F_Type` varchar(50) NULL COMMENT '類型',
	`F_AllowEdit` bit NULL COMMENT '允許編輯',
	`F_AllowDelete` bit NULL COMMENT '允許刪除',
	`F_SortCode` int NULL COMMENT '排序碼',
	`F_DeleteMark` bit NULL COMMENT '刪除標誌',
	`F_EnabledMark` bit NULL COMMENT '有效標誌',
	`F_Description` varchar(500) NULL COMMENT '描述',
	`F_CreatorTime` datetime NULL COMMENT '創建時間',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建用戶',
	`F_LastModifyTime` datetime NULL COMMENT '最後修改時間',
	`F_LastModifyUserId` varchar(50) NULL COMMENT '最後修改用戶',
	`F_DeleteTime` datetime NULL COMMENT '刪除時間',
	`F_DeleteUserId` varchar(500) NULL COMMENT '刪除用戶',
PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO `Sys_Role` (`F_Id`,`F_OrganizeId`,`F_Category`,`F_EnCode`,`F_FullName`,`F_Type`,`F_AllowEdit`,`F_AllowDelete`,`F_SortCode`,`F_EnabledMark`) VALUES (N'F0A2B36F-35A7-4660-B46C-D4AB796591EB',N'e2c83280-a2e4-4fba-ac2b-484df14503bc',1,N'administrators',N'超級管理員',N'1',1,1,99,0);
INSERT INTO `Sys_Role` (`F_Id`,`F_OrganizeId`,`F_Category`,`F_EnCode`,`F_FullName`,`F_Type`,`F_AllowEdit`,`F_AllowDelete`,`F_SortCode`,`F_EnabledMark`) VALUES (N'4B2140D3-E61D-488E-ADF6-FF0EBCBC5D2C',N'e2c83280-a2e4-4fba-ac2b-484df14503bc',1,N'system',N'系統管理員',N'1',0,0,9,0);
INSERT INTO `Sys_Role` (`F_Id`,`F_OrganizeId`,`F_Category`,`F_EnCode`,`F_FullName`,`F_Type`,`F_AllowEdit`,`F_AllowDelete`,`F_SortCode`,`F_EnabledMark`) VALUES (N'7A9CF301-FCDF-4BC9-A52B-A7D4FAE2D344',N'e2c83280-a2e4-4fba-ac2b-484df14503bc',1,N'developer',N'系統開發人員',N'1',1,1,9,0);


CREATE TABLE `ccm_rtdb`.`Sys_Organize`(
	`F_Id` varchar(50) NOT NULL  COMMENT '組織主鍵',
	`F_ParentId` varchar(50) NULL  COMMENT '父級',
	`F_Layers` int NULL  COMMENT '層次',
	`F_EnCode` varchar(50) NULL  COMMENT '編碼',
	`F_FullName` varchar(50) NULL  COMMENT '名稱',
	`F_ShortName` varchar(50) NULL  COMMENT '簡稱',
	`F_CategoryId` varchar(50) NULL  COMMENT '分類',
	`F_ManagerId` varchar(50) NULL  COMMENT '負責人',
	`F_TelePhone` varchar(20) NULL  COMMENT '電話',
	`F_MobilePhone` varchar(20) NULL  COMMENT '手機',
	`F_WeChat` varchar(50) NULL  COMMENT '微信',
	`F_Fax` varchar(20) NULL  COMMENT '傳真',
	`F_Email` varchar(50) NULL  COMMENT '郵箱',
	`F_AreaId` varchar(50) NULL  COMMENT '歸屬區域',
	`F_Address` varchar(500) NULL  COMMENT '聯繫地址',
	`F_AllowEdit` bit NULL  COMMENT '允許編輯',
	`F_AllowDelete` bit NULL  COMMENT '允許刪除',
	`F_SortCode` int NULL  COMMENT '排序碼',
	`F_DeleteMark` bit NULL  COMMENT '刪除標誌',
	`F_EnabledMark` bit NULL  COMMENT '有效標誌',
	`F_Description` varchar(500) NULL  COMMENT '描述',
	`F_CreatorTime` datetime NULL  COMMENT '創建時間',
	`F_CreatorUserId` varchar(50) NULL  COMMENT '創建用戶',
	`F_LastModifyTime` datetime NULL  COMMENT '最後修改時間',
	`F_LastModifyUserId` varchar(50) NULL  COMMENT '最後修改用戶',
	`F_DeleteTime` datetime NULL  COMMENT '刪除時間',
	`F_DeleteUserId` varchar(500) NULL  COMMENT '刪除用戶',
 PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO `Sys_Organize` (`F_Id`,`F_ParentId`,`F_EnCode`,`F_FullName`,`F_CategoryId`,`F_EnabledMark`) VALUES (N'3de290f9-ef77-433c-8ac6-a6812ca39096',N'e2c83280-a2e4-4fba-ac2b-484df14503bc',N'B00',N'營業部',N'Department',1);
INSERT INTO `Sys_Organize` (`F_Id`,`F_ParentId`,`F_EnCode`,`F_FullName`,`F_CategoryId`,`F_EnabledMark`) VALUES (N'1d4b73cc-1975-4a73-915b-95cb0af6f1f4',N'e2c83280-a2e4-4fba-ac2b-484df14503bc',N'K90',N'管理課',N'Department',1);
INSERT INTO `Sys_Organize` (`F_Id`,`F_ParentId`,`F_EnCode`,`F_FullName`,`F_CategoryId`,`F_EnabledMark`) VALUES (N'26225a2c-c848-47c4-a150-9fe3ce5ef826',N'e2c83280-a2e4-4fba-ac2b-484df14503bc',N'M00',N'生產部',N'Department',1);

CREATE TABLE `ccm_rtdb`.`Sys_ModuleFormInstance`(
	`F_Id` varchar(50) NOT NULL  COMMENT '表單實例主鍵',
	`F_FormId` varchar(50) NOT NULL COMMENT '表單主鍵',
	`F_ObjectId` varchar(50) NULL COMMENT '對象主鍵',
	`F_InstanceJson` TEXT  NULL COMMENT '表單實例Json',
	`F_SortCode` int NULL COMMENT '排序碼',
	`F_CreatorTime` datetime NULL COMMENT '創建時間',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建用戶',
  PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `ccm_rtdb`.`Sys_ModuleForm`(
	`F_Id` varchar(50) NOT NULL COMMENT '表單主鍵',
	`F_ModuleId` varchar(50) NULL COMMENT '模組主鍵',
	`F_EnCode` varchar(50) NULL COMMENT '編碼',
	`F_FullName` varchar(50) NULL COMMENT '名稱',
	`F_FormJson` TEXT  NULL COMMENT '表單控制項Json',
	`F_SortCode` int NULL COMMENT '排序碼',
	`F_DeleteMark` bit NULL COMMENT '刪除標誌',
	`F_EnabledMark` bit NULL COMMENT '有效標誌',
	`F_Description` varchar(500) NULL COMMENT '描述',
	`F_CreatorTime` datetime NULL COMMENT '創建時間',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建用戶',
	`F_LastModifyTime` datetime NULL COMMENT '最後修改時間',
	`F_LastModifyUserId` varchar(50) NULL COMMENT '最後修改用戶',
	`F_DeleteTime` datetime NULL COMMENT '刪除時間',
	`F_DeleteUserId` varchar(500) NULL COMMENT '刪除用戶',
 PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `ccm_rtdb`.`Sys_ModuleButton`(
	`F_Id` varchar(50) NOT NULL COMMENT '按鈕主鍵',
	`F_ModuleId` varchar(50) NULL COMMENT '模組主鍵',
	`F_ParentId` varchar(50) NULL COMMENT '父級',
	`F_Layers` int NULL COMMENT '層次',
	`F_EnCode` varchar(50) NULL COMMENT '編碼',
	`F_FullName` varchar(50) NULL COMMENT '名稱',
	`F_Icon` varchar(50) NULL COMMENT '圖示',
	`F_Location` int NULL COMMENT '位置',
	`F_JsEvent` varchar(50) NULL COMMENT '事件',
	`F_UrlAddress` varchar(500) NULL COMMENT '連接',
	`F_Split` bit NULL COMMENT '分開線',
	`F_IsPublic` bit NULL COMMENT '公共',
	`F_AllowEdit` bit NULL COMMENT '允許編輯',
	`F_AllowDelete` bit NULL COMMENT '允許刪除',
	`F_SortCode` int NULL COMMENT '排序碼',
	`F_DeleteMark` bit NULL COMMENT '刪除標誌',
	`F_EnabledMark` bit NULL COMMENT '有效標誌',
	`F_Description` varchar(500) NULL COMMENT '描述',
	`F_CreatorTime` datetime NULL COMMENT '創建日期',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建用戶主鍵',
	`F_LastModifyTime` datetime NULL COMMENT '最後修改時間',
	`F_LastModifyUserId` varchar(50) NULL COMMENT '最後修改用戶',
	`F_DeleteTime` datetime NULL COMMENT '刪除時間',
	`F_DeleteUserId` varchar(50) NULL COMMENT '刪除用戶',
 PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;



CREATE TABLE `ccm_rtdb`.`Sys_Module`(
	`F_Id` varchar(50) NOT NULL COMMENT '模組主鍵',
	`F_ParentId` varchar(50) NULL COMMENT '父級',
	`F_Layers` int NULL COMMENT '層次',
	`F_EnCode` varchar(50) NULL COMMENT '編碼',
	`F_FullName` varchar(50) NULL COMMENT '名稱',
	`F_Icon` varchar(50) NULL COMMENT '圖示',
	`F_UrlAddress` varchar(500) NULL COMMENT '連接',
	`F_Target` varchar(50) NULL COMMENT '目標',
	`F_IsMenu` bit NULL COMMENT '菜單',
	`F_IsExpand` bit NULL COMMENT '展開',
	`F_IsPublic` bit NULL COMMENT '公共',
	`F_AllowEdit` bit NULL COMMENT '允許編輯',
	`F_AllowDelete` bit NULL COMMENT '允許刪除',
	`F_SortCode` int NULL COMMENT '排序碼',
	`F_DeleteMark` bit NULL COMMENT '刪除標誌',
	`F_EnabledMark` bit NULL COMMENT '有效標誌',
	`F_Description` varchar(500) NULL COMMENT '描述',
	`F_Count` int NULL COMMENT '使用次數',
	`F_CreatorTime` datetime NULL COMMENT '創建日期',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建用戶主鍵',
	`F_LastModifyTime` datetime NULL COMMENT '最後修改時間',
	`F_LastModifyUserId` varchar(50) NULL COMMENT '最後修改用戶',
	`F_DeleteTime` datetime NULL COMMENT '刪除時間',
	`F_DeleteUserId` varchar(50) NULL COMMENT '刪除用戶',
 PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT `Sys_Module` (`F_Id`, `F_ParentId`, `F_Layers`, `F_EnCode`, `F_FullName`, `F_Icon`, `F_UrlAddress`, `F_Target`, `F_IsMenu`, `F_IsExpand`, `F_IsPublic`, `F_AllowEdit`, `F_AllowDelete`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'e72c75d0-3a69-41ad-b220-13c9a62ec788', N'73FD1267-79BA-4E23-A152-744AF73117E9', NULL, NULL, N'資料備份', NULL, N'/SystemSecurity/DbBackup/Index', N'iframe', 1, 0, 0, 0, 0, 1, NULL, 1, NULL,NULL, NULL, NULL, NULL, NULL, NULL);
INSERT `Sys_Module` (`F_Id`, `F_ParentId`, `F_Layers`, `F_EnCode`, `F_FullName`, `F_Icon`, `F_UrlAddress`, `F_Target`, `F_IsMenu`, `F_IsExpand`, `F_IsPublic`, `F_AllowEdit`, `F_AllowDelete`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'462027E0-0848-41DD-BCC3-025DCAE65555', N'0', 1, NULL, N'系統管理', N'fa fa-gears', NULL, N'expand', 0, 1, 0, 0, 0, 2, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);
INSERT `Sys_Module` (`F_Id`, `F_ParentId`, `F_Layers`, `F_EnCode`, `F_FullName`, `F_Icon`, `F_UrlAddress`, `F_Target`, `F_IsMenu`, `F_IsExpand`, `F_IsPublic`, `F_AllowEdit`, `F_AllowDelete`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'73FD1267-79BA-4E23-A152-744AF73117E9', N'0', 1, NULL, N'系統安全', N'fa fa-desktop', NULL, N'expand', 0, 1, 0, 0, 0, 3, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);
CREATE TABLE `Sys_Log`(
	`F_Id` varchar(50) NOT NULL COMMENT '日誌主鍵',
	`F_Date` datetime NULL COMMENT '日期',
	`F_Account` varchar(50) NULL COMMENT '用戶名',
	`F_NickName` varchar(50) NULL COMMENT '姓名',
	`F_Type` varchar(50) NULL COMMENT '類型',
	`F_IPAddress` varchar(50) NULL COMMENT 'IP地址',
	`F_IPAddressName` varchar(50) NULL COMMENT 'IP所在城市',
	`F_ModuleId` varchar(50) NULL COMMENT '系統模組Id',
	`F_ModuleName` varchar(50) NULL COMMENT '系統模組',
	`F_Result` bit NULL COMMENT '結果',
	`F_Description` varchar(500) NULL COMMENT '描述',
	`F_CreatorTime` datetime NULL COMMENT '創建時間',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建用戶',
 PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `Sys_ActionLog` (
	`F_Id` varchar(50) NOT NULL COMMENT '使用日誌主鍵', 
	`F_Operator` varchar(10) NOT NULL COMMENT '操作者', 
	`F_Refer` varchar(300) COMMENT '來源頁面', 
	`F_Destination` varchar(300) NOT NULL COMMENT '目標頁面', 
	`F_Method` varchar(5) COMMENT '方式', 
	`F_MobleDevices` bit NOT NULL COMMENT '行動設備', 
	`F_Browser` varchar(50) COMMENT '瀏覽器', 
	`F_IPAddress` varchar(40) COMMENT 'IP位址址', 
	`F_RequestTime` datetime2(7) NOT NULL COMMENT '回應時間',  
	`F_CreatorUserId` varchar(50) COMMENT '創建時間', 
	`F_CreatorTime` datetime COMMENT '創建用戶', 
PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `Sys_ItemsDetail`(
	`F_Id` varchar(50) NOT NULL COMMENT '明細主鍵',
	`F_ItemId` varchar(50) NULL COMMENT '主表主鍵',
	`F_ParentId` varchar(50) NULL COMMENT '父級',
	`F_ItemCode` varchar(50) NULL COMMENT '編碼',
	`F_ItemName` varchar(50) NULL COMMENT '名稱',
	`F_SimpleSpelling` varchar(500) NULL COMMENT '簡拼',
	`F_IsDefault` bit NULL COMMENT '默認',
	`F_Layers` int NULL COMMENT '層次',
	`F_SortCode` int NULL COMMENT '排序碼',
	`F_DeleteMark` bit NULL COMMENT '刪除標誌',
	`F_EnabledMark` bit NULL COMMENT '有效標誌',
	`F_Description` varchar(500) NULL COMMENT '描述',
	`F_CreatorTime` datetime NULL COMMENT '創建日期',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建用戶主鍵',
	`F_LastModifyTime` datetime NULL COMMENT '最後修改時間',
	`F_LastModifyUserId` varchar(50) NULL COMMENT '最後修改用戶',
	`F_DeleteTime` datetime NULL COMMENT '刪除時間',
	`F_DeleteUserId` varchar(50) NULL COMMENT '刪除用戶',
 PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;


INSERT `Sys_ItemsDetail` (`F_Id`, `F_ItemId`, `F_ParentId`, `F_ItemCode`, `F_ItemName`, `F_SimpleSpelling`, `F_IsDefault`, `F_Layers`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'B97BD7F5-B212-40C1-A1F7-DD9A2E63EEF2', N'9EB4602B-BF9A-4710-9D80-C73CE89BEC5D', NULL, N'Group', N'集團', NULL, NULL, NULL, 1, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);
INSERT `Sys_ItemsDetail` (`F_Id`, `F_ItemId`, `F_ParentId`, `F_ItemCode`, `F_ItemName`, `F_SimpleSpelling`, `F_IsDefault`, `F_Layers`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'2C3715AC-16F7-48FC-AB40-B0931DB1E729', N'9EB4602B-BF9A-4710-9D80-C73CE89BEC5D', NULL, N'Area', N'區域', NULL, NULL, NULL, 2, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);
INSERT `Sys_ItemsDetail` (`F_Id`, `F_ItemId`, `F_ParentId`, `F_ItemCode`, `F_ItemName`, `F_SimpleSpelling`, `F_IsDefault`, `F_Layers`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'D082BDB9-5C34-49BF-BD51-4E85D7BFF646', N'9EB4602B-BF9A-4710-9D80-C73CE89BEC5D', NULL, N'Company', N'公司', NULL, NULL, NULL, 3, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);


CREATE TABLE `Sys_Items`(
	`F_Id` varchar(50) NOT NULL COMMENT '主表主鍵',
	`F_ParentId` varchar(50) NULL COMMENT '父級',
	`F_EnCode` varchar(50) NULL COMMENT '編碼',
	`F_FullName` varchar(50) NULL COMMENT '名稱',
	`F_IsTree` bit NULL COMMENT '樹型',
	`F_Layers` int NULL COMMENT '層次',
	`F_SortCode` int NULL COMMENT '排序碼',
	`F_DeleteMark` bit NULL COMMENT '刪除標誌',
	`F_EnabledMark` bit NULL COMMENT '有效標誌',
	`F_Description` varchar(500) NULL COMMENT '描述',
	`F_CreatorTime` datetime NULL COMMENT '創建日期',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建用戶主鍵',
	`F_LastModifyTime` datetime NULL COMMENT '最後修改時間',
	`F_LastModifyUserId` varchar(50) NULL COMMENT '最後修改用戶',
	`F_DeleteTime` datetime NULL COMMENT '刪除時間',
	`F_DeleteUserId` varchar(50) NULL COMMENT '刪除用戶',
 PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;



INSERT `Sys_Items` (`F_Id`, `F_ParentId`, `F_EnCode`, `F_FullName`, `F_IsTree`, `F_Layers`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'77070117-3F1A-41BA-BF81-B8B85BF10D5E', N'0', N'Sys_Items', N'通用字典', 0, 1, 1, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);
INSERT `Sys_Items` (`F_Id`, `F_ParentId`, `F_EnCode`, `F_FullName`, `F_IsTree`, `F_Layers`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'9EB4602B-BF9A-4710-9D80-C73CE89BEC5D', N'77070117-3F1A-41BA-BF81-B8B85BF10D5E', N'OrganizeCategory', N'機構分類', 0, 2, 2, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);
INSERT `Sys_Items` (`F_Id`, `F_ParentId`, `F_EnCode`, `F_FullName`, `F_IsTree`, `F_Layers`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'D94E4DC1-C2FD-4D19-9D5D-3886D39900CE', N'77070117-3F1A-41BA-BF81-B8B85BF10D5E', N'RoleType', N'角色類型', 0, 2, 3, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);

--過濾IP
CREATE TABLE `Sys_FilterIP`(
	`F_Id` varchar(50) NOT NULL COMMENT '過濾主鍵',
	`F_Type` bit NULL COMMENT '類型',
	`F_StartIP` varchar(50) NULL COMMENT '開始IP',
	`F_EndIP` varchar(50) NULL COMMENT '結束IP',
	`F_SortCode` int NULL COMMENT '排序碼',
	`F_DeleteMark` bit NULL COMMENT '刪除標誌',
	`F_EnabledMark` bit NULL COMMENT '有效標誌',
	`F_Description` varchar(500) NULL COMMENT '描述',
	`F_CreatorTime` datetime NULL COMMENT '創建時間',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建用戶',
	`F_LastModifyTime` datetime NULL COMMENT '最後修改時間',
	`F_LastModifyUserId` varchar(50) NULL COMMENT '最後修改用戶',
	`F_DeleteTime` datetime NULL COMMENT '刪除時間',
	`F_DeleteUserId` varchar(500) NULL COMMENT '刪除用戶',
 PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;



INSERT `Sys_FilterIP` (`F_Id`, `F_Type`, `F_StartIP`, `F_EndIP`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'4e035f2b-a03b-49b5-a38d-1c6d211a2a04', 1, N'192.168.1.1', N'192.168.1.10', NULL, NULL, 1, N'測試', NULL, NULL, NULL, NULL, NULL, NULL);
INSERT `Sys_FilterIP` (`F_Id`, `F_Type`, `F_StartIP`, `F_EndIP`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'b3fbe66f-82cd-4f4a-ada3-61eb5a2d9eee', 0, N'192.168.0.20', N'192.168.0.25', NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);


--資料庫備份
CREATE TABLE `Sys_DbBackup`(
	`F_Id` varchar(50) NOT NULL COMMENT '備份主鍵',
	`F_BackupType` varchar(50) NULL COMMENT '備份類型',
	`F_DbName` varchar(50) NULL COMMENT '資料庫名稱',
	`F_FileName` varchar(50) NULL COMMENT '檔案名稱',
	`F_FileSize` varchar(50) NULL COMMENT '文件大小',
	`F_FilePath` varchar(500) NULL COMMENT '檔路徑',
	`F_BackupTime` datetime NULL COMMENT '備份時間',
	`F_SortCode` int NULL COMMENT '排序碼',
	`F_DeleteMark` bit NULL COMMENT '刪除標誌',
	`F_EnabledMark` bit NULL COMMENT '有效標誌',
	`F_Description` varchar(500) NULL COMMENT '描述',
	`F_CreatorTime` datetime NULL COMMENT '創建時間',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建用戶',
	`F_LastModifyTime` datetime NULL COMMENT '最後修改時間',
	`F_LastModifyUserId` varchar(50) NULL COMMENT '最後修改用戶',
	`F_DeleteTime` datetime NULL COMMENT '刪除時間',
	`F_DeleteUserId` varchar(500) NULL COMMENT '刪除用戶',
 PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;


INSERT `Sys_DbBackup` (`F_Id`, `F_BackupType`, `F_DbName`, `F_FileName`, `F_FileSize`, `F_FilePath`, `F_BackupTime`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'8b3fb1ff-07ab-46bb-a12a-85e65a9a748d', N'1', N'NFineBase', N'201607190929504502.bak', N'2.81 MB', N'/Resource/DbBackup/201607190929504502.bak', NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);
INSERT `Sys_DbBackup` (`F_Id`, `F_BackupType`, `F_DbName`, `F_FileName`, `F_FileSize`, `F_FilePath`, `F_BackupTime`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'ddbbfaf3-44b7-4e34-b0c5-c79e21aba83a', N'1', N'NFineBase', N'201607181640402083.bak', N'2.81 MB', N'/Resource/DbBackup/201607181640402083.bak', NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);



CREATE TABLE `Sys_Area`(
	`F_Id` varchar(50) NOT NULL COMMENT '主鍵',
	`F_ParentId` varchar(50) NULL COMMENT '父級',
	`F_Layers` int NULL COMMENT '層次',
	`F_EnCode` varchar(50) NULL COMMENT '編碼',
	`F_FullName` varchar(50) NULL COMMENT '名稱',
	`F_SimpleSpelling` varchar(50) NULL COMMENT '簡碼',
	`F_SortCode` int NULL COMMENT '排序碼',
	`F_DeleteMark` bit NULL COMMENT '刪除標誌',
	`F_EnabledMark` bit NULL COMMENT '有效標誌',
	`F_Description` varchar(500) NULL COMMENT '描述',
	`F_CreatorTime` datetime NULL COMMENT '創建日期',
	`F_CreatorUserId` varchar(50) NULL COMMENT '創建用戶主鍵',
	`F_LastModifyTime` datetime NULL COMMENT '最後修改時間',
	`F_LastModifyUserId` varchar(50) NULL COMMENT '最後修改用戶',
	`F_DeleteTime` datetime NULL COMMENT '刪除時間',
	`F_DeleteUserId` varchar(50) NULL COMMENT '刪除用戶',
 PRIMARY KEY (`F_Id`)
)  ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT `Sys_Area` (`F_Id`, `F_ParentId`, `F_Layers`, `F_EnCode`, `F_FullName`, `F_SimpleSpelling`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'120100', N'120000', 2, N'120100', N'天津市', N'tjs', 120100, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);
INSERT `Sys_Area` (`F_Id`, `F_ParentId`, `F_Layers`, `F_EnCode`, `F_FullName`, `F_SimpleSpelling`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'130100', N'130000', 2, N'130100', N'石家莊市', N'sjzs', 130100, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);
INSERT `Sys_Area` (`F_Id`, `F_ParentId`, `F_Layers`, `F_EnCode`, `F_FullName`, `F_SimpleSpelling`, `F_SortCode`, `F_DeleteMark`, `F_EnabledMark`, `F_Description`, `F_CreatorTime`, `F_CreatorUserId`, `F_LastModifyTime`, `F_LastModifyUserId`, `F_DeleteTime`, `F_DeleteUserId`) VALUES (N'130200', N'130000', 2, N'130200', N'唐山市', N'tss', 130200, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL);

