@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/Document/DOC03/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
					    { label: "SID", name: "SID", hidden: true, key: true, width: 80, align: 'left' },
                        { label: "GUID", name: "GUID", hidden: true, width: 80, align: 'left' },
				        { label: "收文編號", name: "RECEIVEID", width: 80, align: 'left' },
				        {
				            label: "收文日期", name: "RECEDATE", width: 80, align: 'left',
				            formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
				        },
				        { label: "發文機關", name: "OFFICIAL_NM", width: 180, align: 'left' },
				        { label: "發文字號", name: "OFFICIAL_DOCID", width: 200, align: 'left' },
				        { label: "文別", name: "OFFICIAL_DOCTYPE", width: 80, align: 'center' },
                        
				        { label: "事由", name: "DESCR", width: 300, align: 'left' },
				        {
				            label: "附件", name: "AttachFIle", width: 80, align: 'center',
				            formatter: function (cellvalue) {
				                return cellvalue == 'Y' ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
				            }
				        },
                        {
                            label: "狀態", name: "STATUS", width: 80, align: 'left',
                            formatter: function (cellvalue) {
                                return top.clients.dataItems["DOCSTATUS"][cellvalue] == undefined ? cellvalue : top.clients.dataItems["DOCSTATUS"][cellvalue]
                            }
                        },
				        {
				            label: "簽收人員", name: "EMPID", width: 80, align: 'left',
				            formatter: function (cellvalue) {
				                return top.clients.user[cellvalue] == null ? "" : top.clients.user[cellvalue].fullname;
				            }
				        },
				        {
				            label: "簽收公司", name: "COMID", width: 80, align: 'left',
				            formatter: function (cellvalue) {
				                return top.clients.dataItems["COMID"][cellvalue] == undefined ? cellvalue : top.clients.dataItems["COMID"][cellvalue]
				            }
				        },
				        {
				            label: "簽收部門", name: "DEPID", width: 80, align: 'left',
				            formatter: function (cellvalue) {
				                return top.clients.dept[cellvalue] == null ? "" : top.clients.dept[cellvalue].fullname;
				            }
				        },
				        
            ],
			pager: "#gridPager",
			sortname: 'RECEIVEID asc,RECEDATE desc',
			viewrecords: true,
			//subGrid: true,
			//subGridRowExpanded: function (subgrid_id, row_id) {
			//    // we pass two parameters
			//    // subgrid_id is a id of the div tag created within a table
			//    // the row_id is the id of the row
			//    // If we want to pass additional parameters to the url we can use
			//    // the method getRowData(row_id) - which returns associative array in type name-value
			//    // here we can easy construct the following
			//    var subgrid_table_id;
			//    var guid = $gridList.jqGrid('getCell', row_id, 'GUID'); //$gridList.dataGrid("getRowData", row_id);
			//    subgrid_table_id = subgrid_id + "_t";
			//    jQuery("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table>");
			//    jQuery("#" + subgrid_table_id).jqGrid({
			//        url: '/Document/DOC04/GetGridJsonUpload?keyword=' + guid,
			//        datatype: "json",
			//        colNames: ['SID','檔名', '連結'],
			//        colModel: [
            //          { name: "SID", index: "SID", width: 80, hidden: true, key: true },
            //          { name: "Name", index: "Name", width: 80, sortable: false },
            //          { name: "UploadPath", index: "UploadPath", width: 80, sortable: false }
			//        ],
			//        height: '100%',
			//        weight: '50%',
			//        rowNum: 20,
			//        sortname: 'Name',
			//        sortorder: "asc"
			//    });
			//}
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增資料",
            url: "/Document/DOC03/Form",
            width: "900px",
            height: "680px",
            btn: null,
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().SID;
        $.modalOpen({
            id: "Form",
            title: "修改資料",
            url: "/Document/DOC03/Form?keyValue=" + keyValue,
            width: "900px",
            height: "680px",
            btn: null,
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/Document/DOC03/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().SID },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().SID;
        $.modalOpen({
            id: "Details",
            title: "查看資料",
            url: "/Document/DOC03/Details?keyValue=" + keyValue,
            width: "900px",
            height: "500px",
            btn: null,
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-info" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-info dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建資料</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已選中<span>1</span>項</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改資料</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>刪除資料</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看資料</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="資料名稱/資料編號" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-info"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

