@{
    ViewBag.Title = "IndexEmp";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/WorkflowControl/WFC06/GetGridJsonEmp",
            height: $(window).height() - 128,
            colModel: [
				    { label: "加班單號", name: "OVRTNO", key: true, width: 80, align: 'left' },
                     { label: "工號", name: "EMPLYID", width: 80, align: 'left' },
				    {
				        label: "出勤人員", name: "", width: 80, align: 'left',
				        formatter: function (cellvalue, options, rowObject) {
				            return top.clients.user[rowObject.EMPLYID] == null ? "" : top.clients.user[rowObject.EMPLYID].fullname;
				        }
				    },
                    { label: "部門代碼", name: "DEPID", width: 40, align: 'left' },
                    {
                        label: "部門", name: "", width: 120, align: 'left',
                        formatter: function (cellvalue, options, rowObject) {
                            return top.clients.dept[rowObject.DEPID] == null ? "" : top.clients.dept[rowObject.DEPID].fullname;
                        }
                    },
                     { label: "加班原因", name: "DEREASON", width: 150, align: 'left' },
                     { label: "狀態", name: "STATUS", width: 50, align: 'left' },
				    
				    {
				        label: "預計加班-起", name: "FETB", width: 120, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }

				    },
				    {
				        label: "預計加班-迄", name: "FETE", width: 120, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }
				    },
				    { label: "實際加班-起", name: "DETB", hidden: true, width: 80, align: 'left' },
				    { label: "實際加班-迄", name: "DETE", hidden: true, width: 80, align: 'left' },
				    { label: "申請時數", name: "DEMIN", width: 80, align: 'center' },
				    { label: "人資時數", name: "REHRS1", width: 80, align: 'center' },
				    { label: "費用別", name: "OVRTP", hidden: true, width: 80, align: 'left' },
				   {
				       label: "送簽日", name: "APPDATE", width: 80, align: 'left',
				       formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
				   },
				    {
				        label: "完簽日", name: "EXC_UPDDATE", width: 80, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
				    },

				    { label: "記薪月份", name: "OWMON", hidden: true, width: 80, align: 'left' },
                    {
                        label: "執行", name: "",  width: 80, align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var usercode = '@CCM.Code.OperatorProvider.Provider.GetCurrent().UserCode';
                            var ovrtno = rowObject.OVRTNO;
                            alert(ovrtno);
                            if (rowObject.EMPLYID == usercode & rowObject.STATUS == 'OP') {
      
                                return '<button class=\'btn btn-success\' onclick=\'submitSN(\"' + ovrtno + '\")\'>送簽</button>';
                            } else if (rowObject.EMPLYID == usercode & rowObject.STATUS == 'SN') {
                                return '<button class=\'btn btn-danger\' onclick=\'submitSN(\"' + ovrtno + '\")\'>撤簽</button>';
                            }
                        }
                    },

            ],
			pager: "#gridPager",
			sortname: 'OVRTNO asc,APPDATE desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增資料",
            url: "/WorkflowControl/WFC06/Form",
            width: "900px",
            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().OVRTNO;
        $.modalOpen({
            id: "Form",
            title: "修改資料",
            url: "/WorkflowControl/WFC06/Form?keyValue=" + keyValue,
            width: "900px",
            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/WorkflowControl/WFC06/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().OVRTNO },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().OVRTNO;
        $.modalOpen({
            id: "Details",
            title: "查看資料",
            url: "/WorkflowControl/WFC06/Details?keyValue=" + keyValue,
            width: "800px",
            height: "480px",
            btn: null,
        });
    }
    function submitSN() {
        alert(arguments[0]);

    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-info" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-info dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建資料</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已選中<span>1</span>項</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改資料</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>刪除資料</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看資料</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="資料名稱/資料編號" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-info"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

