@{
    ViewBag.Title = "IndexEmp";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    //AddAntiForgeryToken = function (data) {
    //    data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
    //    return data;
    //};

    $(function () {
        gridList();
        
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/WorkflowControl/WFC06/GetGridJsonEmp",
            height: $(window).height() - 128,
            colModel: [
				    { label: "加班單號", name: "OVRTNO", key: true, width: 80, align: 'left' },
                     { label: "工號", name: "EMPLYID", width: 80, align: 'left' },
				    {
				        label: "出勤人員", name: "", width: 80, align: 'left',
				        formatter: function (cellvalue, options, rowObject) {
				            return top.clients.user[rowObject.EMPLYID] == null ? "" : top.clients.user[rowObject.EMPLYID].fullname;
				        }
				    },
                    { label: "部門代碼", name: "DEPID", hidden: true, width: 40, align: 'left' },
                    {
                        label: "部門", name: "", width: 120, align: 'left',
                        formatter: function (cellvalue, options, rowObject) {
                            return top.clients.dept[rowObject.DEPID] == null ? "" : top.clients.dept[rowObject.DEPID].fullname;
                        }
                    },
                     { label: "加班原因", name: "DEREASON", width: 150, align: 'left' },
                     { label: "STATUS", name: "STATUS", hidden: true, width: 50, align: 'left' },


				    {
				        label: "預計加班-起", name: "FETB", width: 120, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }

				    },
				    {
				        label: "預計加班-迄", name: "FETE", width: 120, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }
				    },
				    { label: "實際加班-起", name: "DETB", hidden: true, width: 80, align: 'left' },
				    { label: "實際加班-迄", name: "DETE", hidden: true, width: 80, align: 'left' },
				    { label: "申請時數", name: "DEMIN", width: 80, align: 'center' },
				    { label: "人資時數", name: "REHRS1", width: 80, align: 'center' },
				    { label: "費用別", name: "OVRTP", hidden: true, width: 80, align: 'left' },
				   {
				       label: "送簽日", name: "APPDATE", width: 80, align: 'left',
				       formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
				   },
				    {
				        label: "完簽日", name: "EXC_UPDDATE", width: 80, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
				    },

				    { label: "記薪月份", name: "OWMON", hidden: true, width: 80, align: 'left' },
                      {
                          label: "狀態", name: "", width: 50, align: 'left',
                          formatter: function (cellvalue, options, rowObject) {
                              //return top.clients.dept[rowObject.STATUS] == null ? "" : top.clients.dept[rowObject.STATUS].fullname;
                              if (rowObject.STATUS == 'OP') {
                                  return '<span class=\"label label-default\">未送簽</span>';
                              } else if (rowObject.STATUS == 'SN') {
                                  return '<span class=\"label label-primary\">簽核中</span>';
                              } else if (rowObject.STATUS == 'CF') {
                                  return '<span class=\"label label-success\">已核准</span>';
                              } else if (rowObject.STATUS == 'CL') {
                                  return '<span class=\"label label-warning\">已退回</span>';
                              } else if (rowObject.STATUS == 'NL') {
                                  return '<span class=\"label label-danger\">已作廢</span>';
                              } else if (rowObject.STATUS == 'PB') {
                                  return '<span class=\"label label-default\">已撤簽</span>';
                              }
                          }
                      },
                    {
                        label: "執行", name: "",  width: 80, align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var usercode = '@CCM.Code.OperatorProvider.Provider.GetCurrent().UserCode';
                            var ovrtno = rowObject.OVRTNO;
                            //alert(ovrtno);
                            if (rowObject.EMPLYID == usercode & (rowObject.STATUS == 'OP' | rowObject.STATUS == 'PB')) {
                                return '<button class=\'btn btn-success btn-xs\' onclick=\'submitSN(\"' + ovrtno + '\")\'>送簽</button> <button class=\'btn btn-danger btn-xs\' onclick=\'invalidSN(\"' + ovrtno + '\",\"NL\")\'>作廢</button>';
                            } else if (rowObject.EMPLYID == usercode & rowObject.STATUS == 'SN') {
                                return '<button class=\'btn btn-danger btn-xs\' onclick=\'rejectSN(\"' + ovrtno + '\",\"PB\")\'>撤簽</button>';
                            } else {
                                return '';
                            }
                        }
                    },

            ],
			pager: "#gridPager",
			sortname: 'OVRTNO asc,APPDATE desc',
			viewrecords: true,
			loadComplete: function () {
			    $(this).find(">tbody>tr.jqgrow").addClass("myAltRowClassEven");
			    //$(this).find(">tbody>tr.jqgrow:odd").addClass("myAltRowClassEven");
			    //$(this).find(">tbody>tr.jqgrow:even").addClass("myAltRowClassEven");
			}
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增資料",
            url: "/WorkflowControl/WFC06/Form",
            width: "900px",
            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().OVRTNO;
        var status = $("#gridList").jqGridRowValue().STATUS;
        if (status == 'SN' | status == 'NL' | status == 'CF' ) {
            msg = "此單據不可修改。";
            window.setTimeout(function () {
                $.modalMsg(msg, "warning");
            }, 500);
            return;
        }

        $.modalOpen({
            id: "Form",
            title: "修改資料",
            url: "/WorkflowControl/WFC06/Form?keyValue=" + keyValue,
            width: "900px",
            height: "640px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/WorkflowControl/WFC06/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().OVRTNO },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().OVRTNO;
        $.modalOpen({
            id: "Details",
            title: "查看資料",
            url: "/WorkflowControl/WFC06/Details?keyValue=" + keyValue,
            width: "800px",
            height: "600px",
            btn: null,
        });
    }
    function submitSN() {
        //alert('加班單號:'+arguments[0]);
        if (confirm('確定要送簽此筆加班單嗎?\r\n加班單號:' + arguments[0])) {
            $.ajax({
                url: "/WorkflowControl/WFC00/SendSign",
                data: { keyValue: arguments[0] },
                //headers: { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                dataType: "json",
                async: false,
                success: function (data) {
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                    msg = "送簽成功!";
                    window.setTimeout(function () {
                        $.modalMsg(msg, "success");
                    }, 500);
                },
                error: function (data) {
                    msg = "送簽發生異常!";
                    window.setTimeout(function () {
                        $.modalMsg(msg, "warning");
                    }, 500);
                }
            });
        }
    }

    function rejectSN() {
        //alert('加班單號:' + arguments[0] + ',ACT:' + arguments[1]);
        if (confirm('確定要撤簽此筆加班單嗎?\r\n加班單號:' + arguments[0])) {
            $.ajax({
                url: "/WorkflowControl/WFC00/RejectSign",
                data: { keyValue: arguments[0], act: arguments[1] },
                dataType: "json",
                async: false,
                success: function (data) {
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                    msg = "撤簽成功!";
                    window.setTimeout(function () {
                        $.modalMsg(msg, "success");
                    }, 500);
                },
                error: function (data) {
                    msg = "撤簽發生異常!";
                    window.setTimeout(function () {
                        $.modalMsg(msg, "warning");
                    }, 500);
                }
            });
        }
    }

    function invalidSN() {
        //alert('加班單號:' + arguments[0] + ',ACT:' + arguments[1]);
        if (confirm('確定要作廢此筆加班單嗎?\r\n加班單號:'+ arguments[0])) {
            $.ajax({
                url: "/WorkflowControl/WFC00/RejectSign",
                data: { keyValue: arguments[0], act: arguments[1] },
                dataType: "json",
                async: false,
                success: function (data) {
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                    msg = "作廢成功!";
                    window.setTimeout(function () {
                        $.modalMsg(msg, "success");
                    }, 500);
                },
                error: function (data) {
                    msg = "作廢發生異常!";
                    window.setTimeout(function () {
                        $.modalMsg(msg, "warning");
                    }, 500);
                }
            });
        } else {
            // Do nothing!
        }

    }

   
</script>
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-info" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-info dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建資料</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已選中<span>1</span>項</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改資料</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>刪除資料</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看資料</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="資料名稱/資料編號" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-info"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

