body{

}


/*頁面字體*/
._PageTitle{
        font-family:"微軟正黑體";
        font-weight:bold;
        font-size:20px;
        text-align:left;
        margin-left:35%;
        margin-top:0px;
        width:100%;
}
._PageText{
        font-family:"微軟正黑體";
        font-weight:bold;
        font-size:16px;
        text-align:left;
        margin-left:5%;
}
._LabelTitle{
        font-family:"微軟正黑體";
        font-weight:bold;
        font-size:18px;
        text-align:left;
}
._LabelText{
        font-family:"微軟正黑體";
        font-weight:bold;
        font-size:15px;
}

/*權限左右版面設定*/
    .Input-Area {
        width: 40%;
        float: left;
    }

    .AccessArea {
        width: 60%;
        float: left;
        text-align:left;
        font-weight:bold;
    }

/*ToolBar 左右版面設定*/
    #div_Toolbar {
        width: 20%;
        height: 1000px;
        float: left;
        margin-top: 0px;
        margin-left:10px;
        text-align: left;
    }

    #div_right {
        width: 70%;
        height: 100%;
        float: left;
        text-align: center;
        margin-left:10px;
        padding-bottom: 0px;
        margin-top:0px
    }

/*主頁面 四版塊設定 */
        #div_main {
            width: 100%;
            margin:0; 
            padding:0;
        }
        #div_header {
            width: 100%;
            height: 20%;
            box-sizing: border-box;
            margin:0; 
            padding:0;
        }
        #div_center {
            width: 100%;
            height: 70%;
            float: left;
            margin-left: 10px;
            box-sizing: border-box;
            padding-bottom: 40px;
        }
        #div_footer {
            clear: both;
            width: 100%;
            height: 40px;
            text-align: center;
            box-sizing: border-box;
            bottom: 0;
            margin-top:10px;
            float:left;
        }

/*權限 Table設定*/
    ._Access_Table{
        width:100%;
    }
    ._Access_Title{
        font-family:"微軟正黑體";
        font-weight:bold;
        font-size:16px;
        white-space: nowrap;
        width:22%;
    }
    ._Access_Page{
        font-family:"微軟正黑體";
        font-weight:bold;
        font-size:14px;
        white-space: nowrap;
        width:18%;
        /*margin-left:10%;*/
    }
    ._Access_Checkbox{
        width:3%;
    }

    /*主頁Iframe*/
    ._Index_Iframe{
        width:auto;
        height:auto;
        border:hidden;
    }

    ._body{
        height:100%;
        width:100%;
    }


    /*書籤*/
    ._bookmarker{
        text-align:center;
        width:100%;
    }

/*Real - Time*/

#RealTimeToolBar{
    width:100%;
}
    /*顯示時間*/
    #showTime{
        width:auto;
        margin-left:45%;
        margin-bottom:0px;
        font-size:16px;
        font-family:'微軟正黑體';
        text-align:center;
        font-weight:bold;
        color:#444444;
        float:left;
    }

    #showTime_2{
        width:100%;
        font-size:16px;
        font-family:'微軟正黑體';
        text-align:center;
        font-weight:bold;
        color:#444444;
    }

    #Image_Exp{
        /*margin-top:50px;
        margin-bottom:5px;*/
        margin-right:50px;
        font-size:16px;
        font-family:'微軟正黑體';
        font-weight:bold;
        color:#444444;
        text-align:right;
        float:right;
    }

    /*RealTime*/
    #RealTime_PlaceHolder{
        width:100%;
        text-align:center;
        background:url(../Content/Images/total_bg_g.png)repeat;
        overflow:scroll;
        margin-top:0px;
    }


    .Div_Sorting{
        float:left;
        width:270px;
        height:330px;
        overflow:hidden;
        background:url(../Content/Images/loginbg.png)no-repeat;
        background-size:270px 290px;
        margin-top:10px;
        margin-left:10px;
    }

     .Div_Former{
        float:left;
        width:270px;
        height:330px;
        overflow:hidden;
        background:url(../Content/Images/loginbg.png)no-repeat;
        background-size:270px 290px;
        margin-top:10px;
        margin-left:10px;
    }

    #Div_Machine{
        float:left;
    }

    #_Machine_Type{
        font-family: "微軟正黑體";
	    font-size: 22px;
	    font-weight: bold;
	    color:#444444;
        width: 74px;
        margin-top:10px;
    }

    #_MachineNumbering{
        width: 130px;
        text-align:center;
        font-family:'微軟正黑體';
        font-size:22px;
        font-weight:bold;
        margin-top:10px;
        Color:#CC0066;
    }

    .RealTime_TitleBlank{
        width:40px;
        height:20px;
    }

    .RealTime_Title{
        font-family: "微軟正黑體";
        font-size: 16px;
        font-weight: bold;
        color: #444444;
        width: 70px;
        text-align: left;
        height: 20px;
    }

    ._Total{
        margin: 5px 20px;
        width:225px;
        height:70px;
        background:url(../Content/Images/total_bg_g.png)repeat;
    }
    ._Total2{
        margin: 5px 20px 5px 20px;
        padding: 10px;
        background:url(../Content/Images/total_bg_g.png)repeat;
    }
    ._Total_Title{
        font-family: "微軟正黑體";
	    font-size: 20px;
	    font-weight: bold;
	    color:white;
        width:70px; 
        text-align:left;
        margin-left:10px;
    }
    
    .Totalresp{
        font-family: "微軟正黑體";
        font-size: 20px;
        font-weight: bold;
        color:white;
        /*width: 110px;*/
        text-align: center;
        height:70%;
    }

    .RealTime_innerText{
        font-family: "微軟正黑體";
        font-size:16px;
        width: 110px;
        text-align: center;
        height: 20px;
    }

    .RealTime_innerText_Former{
        font-family: "微軟正黑體";
        font-weight: bold;
        font-size:16px;
        width: 110px;
        text-align: center;
        height: 20px;
    }

    .Flicker{
        margin-left:0px; 
        margin-top:5px; 
        width:28px;
}

    ._Footer_Alert{
        height:30px;
        clear:both;
        width:100%;
        box-sizing:border-box;
        margin-top:15px;
        text-align:center;
        Color:White; 
        text-align:center; 
        Font-Size:16px; 
        font-family: "微軟正黑體";
    }