
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/OrderManage/ORD07/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
  
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/OrderManage/ORD07/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <input id="SID" name="SID" type="hidden" value="" />
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">

            <tr>
                <th class="formTitle">日期</th>
                <td class="formValue">
                    <input id="LUNCHDATE" name="LUNCHDATE" type="text" class="form-control input-wdatepicker "
                           onfocus="WdatePicker({ startDate: '%y/%M/%d', dateFmt: 'yyyy/MM/dd', alwaysUseStartDate: true })" />
                </td>
                <th class="formTitle">地點</th>
                <td class="formValue">
                    <select id="LOCATION" name="LOCATION" class="form-control required">
                        <option value="1">精湛總廠</option>
                        <option value="2">一廠</option>
                        <option value="3">全盈</option>
                        <option value="4">關廟</option>
                        <option value="5">柳營</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">設定葷食數</th>
                <td class="formValue">
                    <input id="MEATPEOPLES" name="MEATPEOPLES" type="number" class="form-control text-center required"  />
                </td>
                <th class="formTitle">設定素食數</th>
                <td class="formValue">
                    <input id="VEGEPEOPLES" name="VEGEPEOPLES" type="number" class="form-control text-center required"  />
                </td>
            </tr>
            <tr>
                <th class="formTitle">缺勤葷食數</th>
                <td class="formValue">
                    <input id="AbsentMEATPEOPLES" name="AbsentMEATPEOPLES" type="number" class="form-control text-center required"  />
                </td>
                <th class="formTitle">缺勤素食數</th>
                <td class="formValue">
                    <input id="AbsentVEGEPEOPLES" name="AbsentVEGEPEOPLES" type="number" class="form-control text-center required"  />
                </td>
            </tr>
            <tr>
                <th class="formTitle">登記葷食數</th>
                <td class="formValue">
                    <input id="ChangeMEATPEOPLES" name="ChangeMEATPEOPLES" type="number" class="form-control text-center required"  />
                </td>
                <th class="formTitle">登記素食數</th>
                <td class="formValue">
                    <input id="ChangeVEGEPEOPLES" name="ChangeVEGEPEOPLES" type="number" class="form-control text-center required"  />
                </td>
            </tr>
            <tr>
                <th class="formTitle">調整葷食數</th>
                <td class="formValue">
                    <input id="TuneMEATPEOPLES" name="TuneMEATPEOPLES" type="number" class="form-control text-center required"  />
                </td>
                <th class="formTitle">調整素食數</th>
                <td class="formValue">
                    <input id="TuneVEGEPEOPLES" name="TuneVEGEPEOPLES" type="number" class="form-control text-center required"  />
                </td>
            </tr>
            <tr>
                <th class="formTitle">實際葷食數</th>
                <td class="formValue">
                    <input id="REALMEATPEOPLES" name="REALMEATPEOPLES" type="number" class="form-control text-center required"  />
                </td>
                <th class="formTitle">實際素食數</th>
                <td class="formValue">
                    <input id="REALVEGEPEOPLES" name="REALVEGEPEOPLES" type="number" class="form-control text-center required"  />
                </td>
            </tr>
            <tr>
                <th class="formTitle">調整數量</th>
                <td class="formValue">
                    <input id="TunePAYEMPLYS" name="TunePAYEMPLYS" type="number" class="form-control text-center required"  />
                </td>
                <th class="formTitle">實際數量</th>
                <td class="formValue">
                    <input id="REALPAYEMPLYS" name="REALPAYEMPLYS" type="number" class="form-control text-center required"  />
                </td>
            </tr>
            <tr>
                <th class="formTitle">單價</th>
                <td class="formValue">
                    <input id="UNITPRICE" name="UNITPRICE" type="number" class="form-control text-center required"  />
                </td>
                <th class="formTitle">費用金額</th>
                <td class="formValue">
                    <input id="TOTAL" name="TOTAL" type="number" class="form-control text-center required"  />
                </td>
            </tr>

            <tr>
                <th class="formTitle">備註</th>
                <td class="formValue" colspan="3">
                    <textarea id="REMARK" name="REMARK" class="form-control " style="height: 60px;"> </textarea>
                </td>
            </tr>
            

        </table>
    </div>
</form>



