  
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/SystemManage/Duty/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">

			            <tr>
                <th class="formTitle">SID</th>
                <td class="formValue">
                    <select id="SID" name="SID" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">ObjectType</th>
                <td class="formValue">
                    <select id="ObjectType" name="ObjectType" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">ObjectNM</th>
                <td class="formValue">
                    <select id="ObjectNM" name="ObjectNM" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">Description</th>
                <td class="formValue">
                    <select id="Description" name="Description" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">Open_</th>
                <td class="formValue">
                    <select id="Open_" name="Open_" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">PhotoUrl</th>
                <td class="formValue">
                    <select id="PhotoUrl" name="PhotoUrl" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">EnableDate</th>
                <td class="formValue">
                    <select id="EnableDate" name="EnableDate" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">Mileage</th>
                <td class="formValue">
                    <select id="Mileage" name="Mileage" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">MaintenanceMileage</th>
                <td class="formValue">
                    <select id="MaintenanceMileage" name="MaintenanceMileage" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">MaintenanceDate</th>
                <td class="formValue">
                    <select id="MaintenanceDate" name="MaintenanceDate" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">RemindDate</th>
                <td class="formValue">
                    <select id="RemindDate" name="RemindDate" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">DontMaintenance</th>
                <td class="formValue">
                    <select id="DontMaintenance" name="DontMaintenance" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">Location</th>
                <td class="formValue">
                    <select id="Location" name="Location" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OrganizeId</th>
                <td class="formValue">
                    <select id="OrganizeId" name="OrganizeId" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CreatorTime</th>
                <td class="formValue">
                    <select id="CreatorTime" name="CreatorTime" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CreatorUserId</th>
                <td class="formValue">
                    <select id="CreatorUserId" name="CreatorUserId" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">LastModifyTime</th>
                <td class="formValue">
                    <select id="LastModifyTime" name="LastModifyTime" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">LastModifyUserId</th>
                <td class="formValue">
                    <select id="LastModifyUserId" name="LastModifyUserId" class="form-control required"></select>
                </td>
            </tr>
			           
        </table>
    </div>
</form>



