  
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/WorkflowControl/WFC06/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('disabled', 'disabled');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
		<tr>
                <th class="formTitle">COL_SAMPLE</th>
                <td class="formValue">
                    <input id="COL_SAMPLE" name="COL_SAMPLE" type="text" class="form-control required" placeholder="請輸入標題" />
					<select id="COL_SAMPLE" name="COL_SAMPLE" class="form-control required"></select>
					<input id="GUID" name="GUID" type="hidden" value="" />
                </td>
               
            </tr>
			            <tr>
                <th class="formTitle">SID</th>
                <td class="formValue">
				    <input id="SID" name="SID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OVRTNO</th>
                <td class="formValue">
				    <input id="OVRTNO" name="OVRTNO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">APPDATE</th>
                <td class="formValue">
				    <input id="APPDATE" name="APPDATE" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">MRDT</th>
                <td class="formValue">
				    <input id="MRDT" name="MRDT" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">FETB</th>
                <td class="formValue">
				    <input id="FETB" name="FETB" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">FETE</th>
                <td class="formValue">
				    <input id="FETE" name="FETE" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">DETB</th>
                <td class="formValue">
				    <input id="DETB" name="DETB" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">DETE</th>
                <td class="formValue">
				    <input id="DETE" name="DETE" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">DEMIN</th>
                <td class="formValue">
				    <input id="DEMIN" name="DEMIN" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">REHRS</th>
                <td class="formValue">
				    <input id="REHRS" name="REHRS" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">LNO</th>
                <td class="formValue">
				    <input id="LNO" name="LNO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OVRTP</th>
                <td class="formValue">
				    <input id="OVRTP" name="OVRTP" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">DEREASON</th>
                <td class="formValue">
				    <input id="DEREASON" name="DEREASON" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">STATUS</th>
                <td class="formValue">
				    <input id="STATUS" name="STATUS" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">REM</th>
                <td class="formValue">
				    <input id="REM" name="REM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">DEPID</th>
                <td class="formValue">
				    <input id="DEPID" name="DEPID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OTTP</th>
                <td class="formValue">
				    <input id="OTTP" name="OTTP" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OVT1</th>
                <td class="formValue">
				    <input id="OVT1" name="OVT1" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OVT2</th>
                <td class="formValue">
				    <input id="OVT2" name="OVT2" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OVT3</th>
                <td class="formValue">
				    <input id="OVT3" name="OVT3" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OWMON</th>
                <td class="formValue">
				    <input id="OWMON" name="OWMON" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">EMPLYID</th>
                <td class="formValue">
				    <input id="EMPLYID" name="EMPLYID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">C_HLD</th>
                <td class="formValue">
				    <input id="C_HLD" name="C_HLD" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">EXC_INSDBID</th>
                <td class="formValue">
				    <input id="EXC_INSDBID" name="EXC_INSDBID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">EXC_INSDATE</th>
                <td class="formValue">
				    <input id="EXC_INSDATE" name="EXC_INSDATE" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">EXC_UPDDBID</th>
                <td class="formValue">
				    <input id="EXC_UPDDBID" name="EXC_UPDDBID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">EXC_UPDDATE</th>
                <td class="formValue">
				    <input id="EXC_UPDDATE" name="EXC_UPDDATE" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">EXC_SYSOWNR</th>
                <td class="formValue">
				    <input id="EXC_SYSOWNR" name="EXC_SYSOWNR" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">EXC_ISLOCKED</th>
                <td class="formValue">
				    <input id="EXC_ISLOCKED" name="EXC_ISLOCKED" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">C_SOURCE</th>
                <td class="formValue">
				    <input id="C_SOURCE" name="C_SOURCE" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">REHRS1</th>
                <td class="formValue">
				    <input id="REHRS1" name="REHRS1" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">DEPIDAPP</th>
                <td class="formValue">
				    <input id="DEPIDAPP" name="DEPIDAPP" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">FILFRL</th>
                <td class="formValue">
				    <input id="FILFRL" name="FILFRL" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			           
        </table>
    </div>
</form>



