  
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/SystemManage/Duty/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">

			            <tr>
                <th class="formTitle">SID</th>
                <td class="formValue">
                    <select id="SID" name="SID" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">IP_ADDR</th>
                <td class="formValue">
                    <select id="IP_ADDR" name="IP_ADDR" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">MAC_ADDR</th>
                <td class="formValue">
                    <select id="MAC_ADDR" name="MAC_ADDR" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">DEPT</th>
                <td class="formValue">
                    <select id="DEPT" name="DEPT" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">USER</th>
                <td class="formValue">
                    <select id="USER" name="USER" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">DEVICE</th>
                <td class="formValue">
                    <select id="DEVICE" name="DEVICE" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OS</th>
                <td class="formValue">
                    <select id="OS" name="OS" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">GROUP</th>
                <td class="formValue">
                    <select id="GROUP" name="GROUP" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">ANTIVIRUS</th>
                <td class="formValue">
                    <select id="ANTIVIRUS" name="ANTIVIRUS" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">REMARK</th>
                <td class="formValue">
                    <select id="REMARK" name="REMARK" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OrganizeId</th>
                <td class="formValue">
                    <select id="OrganizeId" name="OrganizeId" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CreatorTime</th>
                <td class="formValue">
                    <select id="CreatorTime" name="CreatorTime" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CreatorUserId</th>
                <td class="formValue">
                    <select id="CreatorUserId" name="CreatorUserId" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">LastModifyTime</th>
                <td class="formValue">
                    <select id="LastModifyTime" name="LastModifyTime" class="form-control required"></select>
                </td>
            </tr>
			            <tr>
                <th class="formTitle">LastModifyUserId</th>
                <td class="formValue">
                    <select id="LastModifyUserId" name="LastModifyUserId" class="form-control required"></select>
                </td>
            </tr>
			           
        </table>
    </div>
</form>



