  
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/ERPManage/ERP01/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/ERPManage/ERP01/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
			<tr>
                <th class="formTitle">COL_SAMPLE</th>
                <td class="formValue">
                    <input id="COL_SAMPLE" name="COL_SAMPLE" type="text" class="form-control required" placeholder="請輸入標題" />
					<select id="COL_SAMPLE" name="COL_SAMPLE" class="form-control required"></select>
					<input id="GUID" name="GUID" type="hidden" value="" />
                </td>
               
            </tr>
			            <tr>
                <th class="formTitle">SID</th>
                <td class="formValue">
					<input id="SID" name="SID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">ITEM_NO</th>
                <td class="formValue">
					<input id="ITEM_NO" name="ITEM_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">ITEM_NM</th>
                <td class="formValue">
					<input id="ITEM_NM" name="ITEM_NM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">ITEM_SP</th>
                <td class="formValue">
					<input id="ITEM_SP" name="ITEM_SP" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CLAS_NO</th>
                <td class="formValue">
					<input id="CLAS_NO" name="CLAS_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CLAS_NM</th>
                <td class="formValue">
					<input id="CLAS_NM" name="CLAS_NM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">GUID</th>
                <td class="formValue">
					<input id="GUID" name="GUID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OrganizeId</th>
                <td class="formValue">
					<input id="OrganizeId" name="OrganizeId" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CreatorTime</th>
                <td class="formValue">
					<input id="CreatorTime" name="CreatorTime" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CreatorUserId</th>
                <td class="formValue">
					<input id="CreatorUserId" name="CreatorUserId" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">LastModifyTime</th>
                <td class="formValue">
					<input id="LastModifyTime" name="LastModifyTime" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">LastModifyUserId</th>
                <td class="formValue">
					<input id="LastModifyUserId" name="LastModifyUserId" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			           
        </table>
    </div>
</form>



