  
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SaleService/SRM03/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/SaleService/SRM03/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
			<tr>
                <th class="formTitle">COL_SAMPLE</th>
                <td class="formValue">
                    <input id="COL_SAMPLE" name="COL_SAMPLE" type="text" class="form-control required" placeholder="請輸入標題" />
					<select id="COL_SAMPLE" name="COL_SAMPLE" class="form-control required"></select>
					<input id="GUID" name="GUID" type="hidden" value="" />
                </td>
               
            </tr>
			            <tr>
                <th class="formTitle">PROD_NO</th>
                <td class="formValue">
					<input id="PROD_NO" name="PROD_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">PROD_TY</th>
                <td class="formValue">
					<input id="PROD_TY" name="PROD_TY" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">ITEM_NO</th>
                <td class="formValue">
					<input id="ITEM_NO" name="ITEM_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">ITEM_NM</th>
                <td class="formValue">
					<input id="ITEM_NM" name="ITEM_NM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">ITEM_SP</th>
                <td class="formValue">
					<input id="ITEM_SP" name="ITEM_SP" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">M_ITEM_NO</th>
                <td class="formValue">
					<input id="M_ITEM_NO" name="M_ITEM_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">M_ITEM_ID</th>
                <td class="formValue">
					<input id="M_ITEM_ID" name="M_ITEM_ID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">SO_DT</th>
                <td class="formValue">
					<input id="SO_DT" name="SO_DT" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">SO_TY</th>
                <td class="formValue">
					<input id="SO_TY" name="SO_TY" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">SO_NO</th>
                <td class="formValue">
					<input id="SO_NO" name="SO_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">SO_SR</th>
                <td class="formValue">
					<input id="SO_SR" name="SO_SR" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">SO_CS_NO</th>
                <td class="formValue">
					<input id="SO_CS_NO" name="SO_CS_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">SO_CS_NM</th>
                <td class="formValue">
					<input id="SO_CS_NM" name="SO_CS_NM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">FA_NO</th>
                <td class="formValue">
					<input id="FA_NO" name="FA_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CS_NO</th>
                <td class="formValue">
					<input id="CS_NO" name="CS_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CS_NM</th>
                <td class="formValue">
					<input id="CS_NM" name="CS_NM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">TO_ADDR</th>
                <td class="formValue">
					<input id="TO_ADDR" name="TO_ADDR" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">PROD_GUAR_MM</th>
                <td class="formValue">
					<input id="PROD_GUAR_MM" name="PROD_GUAR_MM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">PROD_GUAR_DT</th>
                <td class="formValue">
					<input id="PROD_GUAR_DT" name="PROD_GUAR_DT" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">M_ITEM_GUAR_MM</th>
                <td class="formValue">
					<input id="M_ITEM_GUAR_MM" name="M_ITEM_GUAR_MM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">M_ITEM_GUAR_DT</th>
                <td class="formValue">
					<input id="M_ITEM_GUAR_DT" name="M_ITEM_GUAR_DT" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">REMK</th>
                <td class="formValue">
					<input id="REMK" name="REMK" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CO_TY</th>
                <td class="formValue">
					<input id="CO_TY" name="CO_TY" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CO_NO</th>
                <td class="formValue">
					<input id="CO_NO" name="CO_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CO_SR</th>
                <td class="formValue">
					<input id="CO_SR" name="CO_SR" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CS_VCH_NO</th>
                <td class="formValue">
					<input id="CS_VCH_NO" name="CS_VCH_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">QT_TY</th>
                <td class="formValue">
					<input id="QT_TY" name="QT_TY" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">QT_NO</th>
                <td class="formValue">
					<input id="QT_NO" name="QT_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">QT_SR</th>
                <td class="formValue">
					<input id="QT_SR" name="QT_SR" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OWNER_USR_NO</th>
                <td class="formValue">
					<input id="OWNER_USR_NO" name="OWNER_USR_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">OWNER_GRP_NO</th>
                <td class="formValue">
					<input id="OWNER_GRP_NO" name="OWNER_GRP_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">ADD_DT</th>
                <td class="formValue">
					<input id="ADD_DT" name="ADD_DT" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">IP_NM</th>
                <td class="formValue">
					<input id="IP_NM" name="IP_NM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			            <tr>
                <th class="formTitle">CP_NM</th>
                <td class="formValue">
					<input id="CP_NM" name="CP_NM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
			           
        </table>
    </div>
</form>



