@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/RDManage/RDM01/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('disabled', 'disabled');
                $("#form1").find('div.ckbox label').attr('for', '');
                $('#UploadPathLink').append('<a href="' + pathlink + $('#UploadPath').val() + '" class="btn btn-info btn-sm">Download</a>');
                $('#DownloadPathLink').append('<a href="' + pathlink + $('#DownloadPath').val() + '" class="btn btn-info btn-sm">Download</a>');
                var EnableNew = $('#EnableNew').val();
  
                if (EnableNew=='true') {
                    $('#DownloadPathNewLink').append('<a href="' + pathlink + $('#DownloadPathNew').val() + '" class="btn btn-info btn-sm">Download</a>');
                } else {
                    $('#DownloadPathNewLink').remove();
                }
            }
        });
    });
    function initControl() {
        // 機台編號
        //$("#Machine_Id").bindSelect({
        //    url: "/RDManage/RDM00/GetSrvProd",
        //    id: "M_ITEM_NO",
        //    text: "ITEM_DESCRIPT"
        //});
        // 客戶
        $("#CS_NO").bindSelect({
            url: "/RDManage/RDM00/GetCustList",
            id: "CS_NO",
            text: "SHORT_NM"
        });
    }

    // 本機位址
    var vhost = '@Request.Url.Host';
    var vport = '@Request.Url.Port';
    if (vport != 80) {
        vport = ':@Request.Url.Port';
    }
    var pathlink = 'http://' + vhost + vport + '/';

</script>

<form id="form1">
    <input id="SID" name="SID" type="hidden" value="" />
    <input id="UploadPath" name="UploadPath" type="hidden" />
    <input id="DownloadPath" name="DownloadPath" type="hidden" />
    <input id="DownloadPathNew" name="DownloadPathNew" type="hidden" />
    <input id="EnableNew" name="EnableNew" type="hidden" />
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">客戶編號</th>
                <td class="formValue">
                    <input id="CS_NO" name="CS_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">客戶簡稱</th>
                <td class="formValue">
                    <input id="SHORT_NM" name="SHORT_NM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                
            </tr>
            <tr>
                <th class="formTitle">版本</th>
                <td class="formValue">
                    <input id="Version" name="Version" type="text" class="form-control required"  />
                </td>
                <th class="formTitle">品號</th>
                <td class="formValue">
                    <input id="ITEM_NO" name="ITEM_NO" type="text" class="form-control required" disabled="disabled" />
                </td>
            </tr>

            <tr>
                <th class="formTitle">原檔名</th>
                <td class="formValue">
                    <input id="oldFileName" name="oldFileName" type="text" class="form-control required"  />
                </td>
                <th class="formTitle">新檔名</th>
                <td class="formValue">
                    <input id="newFileName" name="newFileName" type="text" class="form-control required"  />
                </td>
            </tr>
            <tr>
                <th class="formTitle">原檔下載</th>
                <td class="formValue">  
                    <div id="UploadPathLink"></div>
                </td>
                <th class="formTitle">認證檔下載</th>
                <td class="formValue">
                    <div id="DownloadPathLink"></div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">啟用</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="Enable" name="Enable" type="checkbox"><label for="Enable">啟用</label>
                    </div>
                </td>
                <th class="formTitle">新版認證檔下載</th>
                <td class="formValue">
                    <div id="DownloadPathNewLink"></div>
                </td>
            </tr>
            <tr>
                <th class="formTitle">備註</th>
                <td class="formValue" colspan="3">
                    <textarea id="Remark" name="Remark" class="form-control" style="height: 100px;"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>



