@{
    ViewBag.Title = "Form-修改機台認證資料";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/RDManage/RDM01/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        // 機台編號
        $("#Machine_Id").bindSelect({
            url: "/RDManage/RDM00/GetSrvProd",
            id: "M_ITEM_NO",
            text: "ITEM_DESCRIPT"
        });

        // 客戶
        $("#CS_NO").bindSelect({
            url: "/RDManage/RDM00/GetCustList",
            id: "CS_NO",
            text: "SHORT_NM"
        });
    }
    function submitForm() {

        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/RDManage/RDM01/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })

    }

    $(document).ready(function () {
        $('#CS_NO').change(function () {
            var short_nm = $(this).children('option:selected').text();

            $('#SHORT_NM').val(short_nm);
        });

    });
</script>

<form id="form1">
    <input id="SID" name="SID" type="hidden" value="" />
    <input id="Enable" name="Enable" type="hidden" value="" />
    <input id="Version" name="Version" type="hidden" value="" />
    

    <input id="UploadPath" name="UploadPath" type="hidden" value="" />
    <input id="oldFileName" name="oldFileName" type="hidden" value="" />
    <input id="newFileName" name="newFileName" type="hidden" value="" />
    <input id="DownloadPath" name="DownloadPath" type="hidden" value="" />
    <input id="DownloadPath2" name="DownloadPath2" type="hidden" value="" />

    <input id="CPU_SN" name="CPU_SN" type="hidden" value="" />
    <input id="HD_SN" name="HD_SN" type="hidden" value="" />
    <input id="HD_Fireware" name="HD_Fireware" type="hidden" value="" />
    <input id="HD_Moduleno" name="HD_Moduleno" type="hidden" value="" />

    <input id="OrganizeId" name="OrganizeId" type="hidden" value="" />
    <input id="CreatorTime" name="CreatorTime" type="hidden" value="" />
    <input id="CreatorUserId" name="CreatorUserId" type="hidden" value="" />
    <input id="LastModifyTime" name="LastModifyTime" type="hidden" value="" />
    <input id="LastModifyUserId" name="LastModifyUserId" type="hidden" value="" />
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">機台編號</th>
                <td class="formValue" colspan="3">
                    <select id="Machine_Id" name="Machine_Id" class="form-control required" disabled="disabled">
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">客戶</th>
                <td class="formValue">
                    <select id="CS_NO" name="CS_NO" class="form-control required" >
                        <option></option>
                    </select>
                  
                </td>
                <td class="formValue" colspan="2">
                    <input id="SHORT_NM" name="SHORT_NM" type="text" class="form-control required" disabled="disabled"/>
                </td>
            </tr>  
            
            <tr>
                <th class="formTitle">備註</th>
                <td class="formValue" colspan="3">
                    <textarea id="Remark" name="Remark" class="form-control" style="height: 100px;"></textarea>
                </td>
            </tr>

        </table>
    </div>
</form>
