@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    // 本機位址
    var vhost = '@Request.Url.Host';
    var vport = '@Request.Url.Port';
    if (vport != 80) {
        vport = ':@Request.Url.Port';
    }
    var pathlink = 'http://' + vhost + vport + '/';

    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/RDManage/RDM01/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
					{ label: "SID", name: "SID", hidden: true, key: true, width: 80, align: 'left' },
                    { label: "品号", name: "ITEM_NO", width: 100, align: 'left' },
                    { label: "出机编号", name: "PROD_NO", width: 80, align: 'left' },
                    { label: "客户编号", name: "CS_NO", width: 60, align: 'left' },
				    { label: "客户名称", name: "SHORT_NM", width: 90, align: 'left' },
                    { label: "版本", name: "Version", width: 60, align: 'left' },
                    { label: "原档名", name: "oldFileName", width: 100, align: 'left' },
				    { label: "原档下载", name: "UploadPath", hidden: true, width: 80, align: 'left' },
                    {
                        label: "原档下载", name: "", width: 90, align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            if (rowObject.UploadPath != null & rowObject.UploadPath != '') {
                                return '<a href="' + pathlink + rowObject.UploadPath + '" class="btn btn-info btn-sm">Download</a> ';
                            } else {
                                return '';
                            }
                        }
                    },
				   { label: "认证档", name: "DownloadPath", hidden: true, width: 80, align: 'left' },
                     {
                         label: "认证档", name: "", width: 90, align: 'center',
                         formatter: function (cellvalue, options, rowObject) {
                             if (rowObject.DownloadPath != null & rowObject.DownloadPath != '') {
                                 return '<a href="' + pathlink + rowObject.DownloadPath + '" class="btn btn-info btn-sm">Download</a> ';
                             } else {
                                 return '';
                             }
                         }
                     },
                     { label: "认证档", name: "DownloadPathNew", hidden: true, width: 80, align: 'left' },
                     {
                         label: "新认证档", name: "", width: 90, align: 'center',
                         formatter: function (cellvalue, options, rowObject) {
                             var enablenew = rowObject.EnableNew;
                             if (enablenew) {
                                 if (rowObject.DownloadPathNew != null & rowObject.DownloadPathNew != '') {
                                     return '<a href="' + pathlink + rowObject.DownloadPathNew + '" class="btn btn-info btn-sm">Download</a> ';
                                 } else {
                                     return '';
                                 }
                             } else { return ''; }
                         }
                     },
                    { label: "备注", name: "Remark", width: 120, align: 'left' },
                    {
                        label: "建立时间", name: "CreatorTime", width: 120, align: 'left',
                        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }
                    },
                    {
                        label: "建立人员", name: "", width: 60, align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            return top.clients.user[rowObject.CreatorUserId] == null ? "" : top.clients.user[rowObject.CreatorUserId].fullname;
                        }
                    },
                    {
                        label: "修改时间", name: "LastModifyTime", width: 120, align: 'left',
                        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }
                    },
                    { label: "修改人员", name: "LastModifyUserId", hidden: true, width: 80, align: 'left' },
                    {
                        label: "修改人员", name: "", width: 60, align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            return top.clients.user[rowObject.LastModifyUserId] == null ? "" : top.clients.user[rowObject.LastModifyUserId].fullname;
                        }
                    },
                    { label: "Enable", name: "Enable", hidden: true, width: 60, align: "center" },
                    { label: "EnableNew", name: "EnableNew", hidden: true, width: 60, align: "center" },
                    { label: "", name: "", width: 180, align: 'left' },
            ],
			pager: "#gridPager",
			sortname: 'CreatorTime desc,LastModifyTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增",
            url: "/RDManage/RDM01/Form",
            width: "740px",
            height: "400px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().SID;
        $.modalOpen({
            id: "Form",
            title: "修改",
            url: "/RDManage/RDM01/Form?keyValue=" + keyValue,
            width: "640px",
            height: "500px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_upload() {
        var keyValue = $("#gridList").jqGridRowValue().SID;
        var UploadPath = $("#gridList").jqGridRowValue().UploadPath;
        if (UploadPath != null & UploadPath != '') {
            msg = "已有上傳認證檔，不可重複上傳!";
            window.setTimeout(function () {
                $.modalMsg(msg, "warning");
            }, 500);
            return;
        } else {
            $.modalOpen({
                id: "Form",
                title: "上傳",
                url: "/RDManage/RDM01/Form2?keyValue=" + keyValue,
                width: "740px",
                height: "500px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        }
    }
    function btn_delete() {
        $.deleteForm({
            url: "/RDManage/RDM01/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().SID },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().SID;
        $.modalOpen({
            id: "Details",
            title: "查看",
            url: "/RDManage/RDM01/Details?keyValue=" + keyValue,
            width: "740px",
            height: "400px",
            btn: null,
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-info" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            @*<a id="NF-add" authorize="yes" class="btn btn-info dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建</a>*@
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已選中<span>1</span>項</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改</a></li>
                <li><a id="NF-upload" authorize="yes" onclick="btn_upload()"><i class="fa fa-upload "></i>上傳</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>刪除</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="關鍵字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-info"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

