@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/WorkflowControl/WFC05/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
				    { label: "加班單號", name: "OVRTNO", key:true,width: 80, align: 'left' },
				    {
				        label: "送單日", name: "APPDATE", width: 80, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
				    },
				    {
				        label: "加班日", name: "MRDT", width: 80, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
				    },
				    {
				        label: "預計加班-起", name: "FETB", width: 120, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }

				    },
				    {
				        label: "預計加班-迄", name: "FETE", width: 120, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }
				    },
				    { label: "實際加班-起", name: "DETB", hidden: true, width: 80, align: 'left' },
				    { label: "實際加班-迄", name: "DETE", hidden: true, width: 80, align: 'left' },
				    { label: "總時數", name: "DEMIN", width: 80, align: 'center' },
				    { label: "REHRS", name: "REHRS", hidden: true, width: 80, align: 'left' },
				    { label: "OVRTP", name: "OVRTP", hidden: true, width: 80, align: 'left' },
				    { label: "加班原因", name: "DEREASON", width: 150, align: 'left' },
				    
				    { label: "部門", name: "DEPID", width: 60, align: 'left' },
                    {
                        label: "部門", name: "", width: 150, align: 'left',
                        formatter: function (cellvalue, options, rowObject) {
                            return top.clients.dept[rowObject.DEPID] == null ? "" : top.clients.dept[rowObject.DEPID].fullname;
                        }
                    },
                     { label: "工號", name: "EMPLYID", width: 80, align: 'left' },
                     { label: "加班人員", name: "EMPLYNM", width: 80, align: 'left' },
				    //{
				    //    label: "加班人員", name: "", width: 80, align: 'left',
				    //    formatter: function (cellvalue, options, rowObject) {
				    //        return top.clients.user[rowObject.EMPLYID] == null ? "" : top.clients.user[rowObject.EMPLYID].fullname;
				    //    }
				    //},
				    { label: "OWMON", name: "OWMON", hidden: true, width: 80, align: 'left' },
                    {
                        label: "狀態", name: "STATUS", width: 50, align: 'left',
                        formatter: function (cellvalue, options, rowObject) {
                            //return top.clients.dept[rowObject.STATUS] == null ? "" : top.clients.dept[rowObject.STATUS].fullname;
                            if (rowObject.STATUS == 'OP') {
                                return '<span class=\"label label-default\">未送簽</span>';
                            } else if (rowObject.STATUS == 'SN') {
                                return '<span class=\"label label-primary\">簽核中</span>';
                            } else if (rowObject.STATUS == 'CF') {
                                return '<span class=\"label label-success\">已核准</span>';
                            } else if (rowObject.STATUS == 'CL') {
                                return '<span class=\"label label-warning\">已退回</span>';
                            } else if (rowObject.STATUS == 'NL') {
                                return '<span class=\"label label-danger\">已作廢</span>';
                            } else if (rowObject.STATUS == 'PB') {
                                return '<span class=\"label label-default\">已撤簽</span>';
                            }
                        }
                    },
            ],
			pager: "#gridPager",
			sortname: 'OVRTNO asc,APPDATE desc',
			viewrecords: true,
			loadComplete: function () {
			    $(this).find(">tbody>tr.jqgrow").addClass("myAltRowClassEven");
			    //$(this).find(">tbody>tr.jqgrow:odd").addClass("myAltRowClassEven");
			    //$(this).find(">tbody>tr.jqgrow:even").addClass("myAltRowClassEven");
			}
        });
        $("#status_horizon a.btn-default").click(function () {
            $("#status_horizon a.btn-default").removeClass("active");
            $(this).addClass("active");
            $('#btn_search').trigger("click");
        });
        $("#btn_search").click(function () {
            var statusType = $("#status_horizon a.active").attr('data-value');
            var queryJson = {
                keyword: $("#txt_keyword").val(),
                statusType: statusType,
            }
            $gridList.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
            }).trigger('reloadGrid');
        });

        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增資料",
            url: "/WorkflowControl/WFC05/Form",
            width: "800px",
            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().OVRTNO;
        $.modalOpen({
            id: "Form",
            title: "修改資料",
            url: "/WorkflowControl/WFC05/Form?keyValue=" + keyValue,
            width: "800px",
            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: "/WorkflowControl/WFC05/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().OVRTNO },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().OVRTNO;
        $.modalOpen({
            id: "Details",
            title: "查看資料",
            url: "/WorkflowControl/WFC05/Details?keyValue=" + keyValue,
            width: "800px",
            height: "600px",
            btn: null,
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-info" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-info dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建資料</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已選中<span>1</span>項</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改資料</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>刪除資料</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看資料</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="單號/原因/工號/姓名" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-info"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
                <td style="padding-left: 10px;">
                    <div id="status_horizon" class="btn-group">
                        <a class="btn btn-default active" data-value="SN">簽核中</a>
                        <a class="btn btn-default" data-value="OP">未送簽</a>
                        <a class="btn btn-default" data-value="CL">已退回</a>
                        <a class="btn btn-default" data-value="NL">已作廢</a>
                        <a class="btn btn-default" data-value="PB">已撤簽</a>
                        <a class="btn btn-default" data-value="CF">已核准</a>
                        <a class="btn btn-default" data-value="ALL">全部</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

