@{
    ViewBag.Title = "IndexEmp";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    //AddAntiForgeryToken = function (data) {
    //    data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
    //    return data;
    //};

    $(function () {
        gridList();
        
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/WorkflowControl/WFC05/GetGridJsonEmp",
            height: $(window).height() - 128,
            colModel: [
               
                {
                    label: "執行", name: "", width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var usercode = '@CCM.Code.OperatorProvider.Provider.GetCurrent().UserCode';
                        var ovrtno = rowObject.OVRTNO;
                        //alert(ovrtno);
                        if (rowObject.EXC_INSDBID == usercode & (rowObject.STATUS == 'OP' | rowObject.STATUS == 'PB' | rowObject.STATUS == 'CL')) {
                            return '<button class=\'btn btn-success btn-xs\' onclick=\'submitSN(\"' + ovrtno + '\")\'>送簽</button> ' +
                                '<button class=\'btn btn-danger btn-xs\' onclick=\'invalidSN(\"' + ovrtno + '\",\"NL\")\'>作廢</button>' +
                                ' <button class=\'btn btn-default btn-xs\' onclick=\'btn_edit(\"' + ovrtno + '\")\'>編輯</button>';
                        } else if (rowObject.EXC_INSDBID == usercode & rowObject.STATUS == 'SN') {
                            return '<button class=\'btn btn-danger btn-xs\' onclick=\'rejectSN(\"' + ovrtno + '\",\"PB\")\'>撤簽</button>';
                        } else {
                            return '';
                        }
                    }
                },
                    {
                        label: "狀態", name: "", width: 50, align: 'left',
                        formatter: function (cellvalue, options, rowObject) {
                            //return top.clients.dept[rowObject.STATUS] == null ? "" : top.clients.dept[rowObject.STATUS].fullname;
                            if (rowObject.STATUS == 'OP') {
                                return '<h5><span class=\"label label-default label-lg\">未送簽</span></h5>';
                            } else if (rowObject.STATUS == 'SN') {
                                return '<h5><span class=\"label label-primary label-lg\">簽核中</span></h5>';
                            } else if (rowObject.STATUS == 'CF') {
                                return '<h5><span class=\"label label-success label-lg\">已核准</span></h5>';
                            } else if (rowObject.STATUS == 'CL') {
                                return '<h5><span class=\"label label-warning label-lg\">已退回</span></h5>';
                            } else if (rowObject.STATUS == 'NL') {
                                return '<h5><span class=\"label label-danger label-lg\">已作廢</span></h5>';
                            } else if (rowObject.STATUS == 'PB') {
                                return '<h5><span class=\"label label-default label-lg\">已撤簽</span></h5>';
                            }
                        }
                    },
                     { label: "加班單號", name: "OVRTNO", key: true, width: 80, align: 'left' },
                     { label: "工號", name: "EMPLYID", width: 60, align: 'left' },
				    {
				        label: "出勤人員", name: "", width: 60, align: 'left',
				        formatter: function (cellvalue, options, rowObject) {
				            return top.clients.user[rowObject.EMPLYID] == null ? "" : top.clients.user[rowObject.EMPLYID].fullname;
				        }
				    },
                    { label: "部門代碼", name: "DEPID", hidden: true, width: 40, align: 'left' },
                    {
                        label: "部門", name: "", width: 100, align: 'left',
                        formatter: function (cellvalue, options, rowObject) {
                            return top.clients.dept[rowObject.DEPID] == null ? "" : top.clients.dept[rowObject.DEPID].fullname;
                        }
                    },
                     { label: "加班原因", name: "DEREASON", width: 150, align: 'left' },
                     { label: "STATUS", name: "STATUS", hidden: true, width: 50, align: 'left' },

				    {
				        label: "預計加班-起", name: "FETB", width: 100, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }

				    },
				    {
				        label: "預計加班-迄", name: "FETE", width: 100, align: 'left',
				        formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }
				    },
				    { label: "實際加班-起", name: "DETB", hidden: true, width: 80, align: 'left' },
				    { label: "實際加班-迄", name: "DETE", hidden: true, width: 80, align: 'left' },
				    { label: "申請時數", name: "DEMIN", width: 60, align: 'center' },
				    { label: "人資時數", name: "REHRS1", width: 60, align: 'center' },
				    { label: "費用別", name: "OVRTP", hidden: true, width: 80, align: 'left' },
				   {
				       label: "送簽日", name: "APPDATE", width: 70, align: 'left',
				       formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
				   },

				    { label: "記薪月份", name: "OWMON", hidden: true, width: 80, align: 'left' },
                     {
                         label: "查看", name: "", width: 50, align: 'center',
                         formatter: function (cellvalue, options, rowObject) {
                             var ovrtno = rowObject.OVRTNO;
                             //alert(signdate);
                             var v_button = '<button class=\'btn btn-default \' onclick=\'btn_details(\"' + ovrtno + '\")\'>查看</button> ';
                             return v_button;
                         }
                     },
                    { label: "", name: "",  width: 10, align: 'left' },
            ],
			pager: "#gridPager",
			sortname: 'OVRTNO asc,APPDATE desc',
			viewrecords: true,
			multiselect: true,
			loadComplete: function () {
			    $(this).find(">tbody>tr.jqgrow").addClass("myAltRowClassEven");
			    //$(this).find(">tbody>tr.jqgrow:odd").addClass("myAltRowClassEven");
			    //$(this).find(">tbody>tr.jqgrow:even").addClass("myAltRowClassEven");
			},
			rowattr: function (item, rd, rowid) {
			    //$('.cbox').attr('checked', true);
			    return { "onclick": "showChoiceCount()" };
			}
        });

        $("#status_horizon a.btn-default").click(function () {
            $("#status_horizon a.btn-default").removeClass("active");
            $(this).addClass("active");
            $('#btn_search').trigger("click");
        });
        $("#btn_search").click(function () {
            var statusType = $("#status_horizon a.active").attr('data-value');
            var queryJson = {
                keyword: $("#txt_keyword").val(),
                statusType: statusType,
            }
            $gridList.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) },
            }).trigger('reloadGrid');
        });
    }

    function showChoiceCount() {
        // 顯示已選取幾筆
        setTimeout(function () {
            var grid = $("#gridList");
            var rowKey = grid.getGridParam("selrow");
            if (rowKey) {
                var selectedIDs = grid.getGridParam("selarrrow");
                var result = "";
                var count = 0;
                for (var i = 0; i < selectedIDs.length; i++) {
                    result += selectedIDs[i] + ",";
                    count += 1;
                }
            }
            $('#choiceCount').text(count);
            //alert(result);
        }, 200);

    }

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增資料",
            url: "/WorkflowControl/WFC05/Form",
            width: "800px",
            height: "600px",
            btn: null,
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        //var keyValue = $("#gridList").jqGridRowValue().OVRTNO;
        var keyValue = arguments[0];
        //var status = $("#gridList").jqGridRowValue().STATUS;
        if (status == 'SN' | status == 'NL' | status == 'CF' ) {
            msg = "此單據不可修改。";
            window.setTimeout(function () {
                $.modalMsg(msg, "warning");
            }, 500);
            return;
        }

        $.modalOpen({
            id: "Form",
            title: "修改資料",
            url: "/WorkflowControl/WFC05/Edit?keyValue=" + keyValue,
            width: "900px",
            height: "700px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        var keyValue = arguments[0];
        $.deleteForm({
            url: "/WorkflowControl/WFC05/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        //var keyValue = $("#gridList").jqGridRowValue().OVRTNO;
        var keyValue = arguments[0];
        $.modalOpen({
            id: "Details",
            title: "查看資料",
            url: "/WorkflowControl/WFC05/Details?keyValue=" + keyValue,
            width: "800px",
            height: "600px",
            btn: null,
        });
    }
    function submitSN() {
        var ovrtno = arguments[0];
        //alert('加班單號:'+arguments[0]);
        $.modalConfirm("注：您確定要送簽此筆加班單嗎?<br/>加班單號 : " + ovrtno, function (r) {
            if (r) {
                $.ajax({
                    url: "/WorkflowControl/WFC00/SendSign",
                    data: { keyValue: ovrtno },
                    //headers: { "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        msg = "送簽成功!";
                        window.setTimeout(function () {
                            $.modalMsg(msg, "success");
                        }, 500);
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    },
                    error: function (data) {
                        msg = "送簽發生異常!";
                        window.setTimeout(function () {
                            $.modalMsg(msg, "warning");
                        }, 500);
                    }
                });
            }
        });
    }

    function rejectSN() {
        //alert('加班單號:' + arguments[0] + ',ACT:' + arguments[1]);
        var ovrtno = arguments[0];
        var act = arguments[1];
        $.modalConfirm("注：您確定要撤簽此加班單嗎？<br/>加班單號 : " + arguments[0], function (r) {
            if (r) {
                $.ajax({
                    url: "/WorkflowControl/WFC00/RejectSign",
                    data: { keyValue: ovrtno, act: act },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                        msg = "撤簽成功!";
                        window.setTimeout(function () {
                            $.modalMsg(msg, "success");
                        }, 500);
                    },
                    error: function (data) {
                        msg = "撤簽發生異常!";
                        window.setTimeout(function () {
                            $.modalMsg(msg, "warning");
                        }, 500);
                    }
                });
            }
        });
    }

    function invalidSN() {
        //alert('加班單號:' + arguments[0] + ',ACT:' + arguments[1]);
        var ovrtno = arguments[0];
        var act = arguments[1];
        $.modalConfirm("注：您確定要作廢此筆加班單嗎？<br/>加班單號 : " + arguments[0], function (r) {
            if (r) {
                $.ajax({
                    url: "/WorkflowControl/WFC00/RejectSign",
                    data: { keyValue: ovrtno, act: act },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                        msg = "作廢成功!";
                        window.setTimeout(function () {
                            $.modalMsg(msg, "success");
                        }, 500);
                    },
                    error: function (data) {
                        msg = "作廢發生異常!";
                        window.setTimeout(function () {
                            $.modalMsg(msg, "warning");
                        }, 500);
                    }
                });
            }
        });

    }

    // 批次送簽
    function btn_batch() {
        var grid = $("#gridList");
        var rowKey = grid.getGridParam("selrow");

        if (!rowKey) {
            //alert("No rows are selected");
            msg = "沒有選取到任何資料列!";
            window.setTimeout(function () {
                $.modalMsg(msg, "warning");
            }, 500);
        }
        else {
            var selectedIDs = grid.getGridParam("selarrrow");

            var result = "";
            var count = 0;
            for (var i = 0; i < selectedIDs.length; i++) {
                result += selectedIDs[i] + ","; // 簽核途程明細 SID(已選取的)
                count += 1;
            }
            $('#choiceCount').text(count);
            //alert(result);

            $.modalConfirm("注：您確定要批次送簽加班單嗎？", function (r) {
                if (r) {
                    $.loading(true, '處理中，請稍候...');
                    window.setTimeout(function () {
                        $.ajax({
                            url: "/WorkflowControl/WFC00/SendSignBatch",
                            data: { overtnoList: result },
                            dataType: "text",
                            async: false,
                            success: function (data) {
                                //var res = JSON.parse(data.xhr.responseText);
                                //alert(data);
                                msg = "送簽成功!";
                                $.currentWindow().$("#gridList").trigger("reloadGrid");
                                $.modalMsg(msg, 'success');
                                $.modalClose();
                            },
                            error: function (data) {
                                msg = "送簽發生異常!";
                                $.modalMsg(errorThrown, "error");
                            },
                            beforeSend: function () {
                                $.loading(true, '處理中，請稍候...');
                            },
                            complete: function () {
                                $.loading(false);
                            }
                        });
                    }, 500);
                }
            });
            
        }
    }
</script>
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-info" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-info dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建資料</a>
        </div>
        <div class="btn-group">
            <a id="NF-batch2" class="btn btn-danger dropdown-text" onclick="btn_batch()"><i class="fa fa-pencil-square-o "></i>批次送簽</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已選中<span>1</span>項</li>
                @*<li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改資料</a></li>
    <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>刪除資料</a></li>
    <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看資料</a></li>*@
                <li><a id="NF-batch" authorize="yes" onclick="btn_batch()"><i class="fa fa-pencil-square-o "></i>批次送簽</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="加班單號/加班原因" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-info"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
                <td style="padding-left: 10px;">
                    <div id="status_horizon" class="btn-group">
                        <a class="btn btn-default active" data-value="OP">未送簽</a>
                        <a class="btn btn-default" data-value="SN">簽核中</a>
                        <a class="btn btn-default" data-value="CF">已核准</a>
                        @*<a class="btn btn-default" data-value="2">全部</a>*@
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

