@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>使用教學</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.2.4.min.js"></script>
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/css/framework-about.css" rel="stylesheet" />
</head>
<body>

    <div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
        <div style="float: left; width: 100%; margin-right: 1%;">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#a" data-toggle="tab">登入範例</a>
                </li>
                <li>
                    <a href="#b" data-toggle="tab">首頁資訊與個人資訊查詢</a>
                </li>
                <li>
                    <a href="#c" data-toggle="tab">基本操作-公務車預約</a>
                </li>
                <li>
                    <a href="#d" data-toggle="tab">基本操作-加班單申請</a>
                </li>
                <li>
                    <a href="#e" data-toggle="tab">基本操作-加班單簽核</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="a">
                    <div style="margin:2px;padding:2px">使用員工編號登入，密碼預設與ERP登入密碼相同，認證碼不分大小寫</div>
                    <video controls="controls" width="1200">
                        <source src="~/EIPContent/Content/PublicShare/Studymovie/20170208_112224.mp4" type="video/mp4" />
                        您的瀏覽器不支援HTML 5影片播放標籤
                    </video>
                </div>
                <div class="tab-pane fade " id="b">
                    <div style="margin:2px;padding:2px">首頁顯示公務車、會議室預約狀態，公佈欄；個人資訊可檢視員工相關工作資料</div>
                    <video controls="controls" width="1200" >
                        <source src="~/EIPContent/Content/PublicShare/Studymovie/20170208_112838.mp4" type="video/mp4" />
                        您的瀏覽器不支援HTML 5影片播放標籤
                    </video>
                </div>
                <div class="tab-pane fade " id="c">
                    <div style="margin:2px;padding:2px">預約公務車操作範例</div>
                    <video controls="controls" width="1400">
                        <source src="~/EIPContent/Content/PublicShare/Studymovie/20170208_113553.mp4" type="video/mp4" />
                        您的瀏覽器不支援HTML 5影片播放標籤
                    </video>

                </div>
                <div class="tab-pane fade " id="d">
                    <div style="margin:2px;padding:2px">申請加班操作範例</div>
                    <video controls="controls" width="1400">
                        <source src="~/EIPContent/Content/PublicShare/Studymovie/20170208_130349.mp4" type="video/mp4" />
                        您的瀏覽器不支援HTML 5影片播放標籤
                    </video>
                </div>
                <div class="tab-pane fade " id="e">
                    <div style="margin:2px;padding:2px">簽核加班單操作範例</div>
                    <video controls="controls" width="1400">
                        <source src="~/EIPContent/Content/PublicShare/Studymovie/20170208_130801.mp4" type="video/mp4" />
                        您的瀏覽器不支援HTML 5影片播放標籤
                    </video>
 
                </div>
            </div>
        </div>
    </div>
</body>
</html>

