
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/PublicObject/PUB04/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('disabled', 'disabled');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">COL_SAMPLE</th>
                <td class="formValue">
                    <input id="COL_SAMPLE" name="COL_SAMPLE" type="text" class="form-control required" placeholder="請輸入標題" />
                    <select id="COL_SAMPLE" name="COL_SAMPLE" class="form-control required"></select>
                    <input id="GUID" name="GUID" type="hidden" value="" />
                </td>

            </tr>
            <tr>
                <th class="formTitle">SID</th>
                <td class="formValue">
                    <input id="SID" name="SID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">Name</th>
                <td class="formValue">
                    <input id="Name" name="Name" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">Phone</th>
                <td class="formValue">
                    <input id="Phone" name="Phone" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">Fax</th>
                <td class="formValue">
                    <input id="Fax" name="Fax" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">Address</th>
                <td class="formValue">
                    <input id="Address" name="Address" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">Contact</th>
                <td class="formValue">
                    <input id="Contact" name="Contact" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">SubsidizeAmount</th>
                <td class="formValue">
                    <input id="SubsidizeAmount" name="SubsidizeAmount" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">ContributingVendor</th>
                <td class="formValue">
                    <input id="ContributingVendor" name="ContributingVendor" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">WebSiteURL</th>
                <td class="formValue">
                    <input id="WebSiteURL" name="WebSiteURL" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">Offer</th>
                <td class="formValue">
                    <input id="Offer" name="Offer" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">Remark</th>
                <td class="formValue">
                    <input id="Remark" name="Remark" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">SortCode</th>
                <td class="formValue">
                    <input id="SortCode" name="SortCode" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">OrganizeId</th>
                <td class="formValue">
                    <input id="OrganizeId" name="OrganizeId" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">CreatorTime</th>
                <td class="formValue">
                    <input id="CreatorTime" name="CreatorTime" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">CreatorUserId</th>
                <td class="formValue">
                    <input id="CreatorUserId" name="CreatorUserId" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">LastModifyTime</th>
                <td class="formValue">
                    <input id="LastModifyTime" name="LastModifyTime" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">LastModifyUserId</th>
                <td class="formValue">
                    <input id="LastModifyUserId" name="LastModifyUserId" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>

        </table>
    </div>
</form>



