
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/SaleService/SRM02/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('disabled', 'disabled');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">

            <tr>
                <th class="formTitle">產品號碼</th>
                <td class="formValue">
                    <input id="PROD_NO" name="PROD_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">型式</th>
                <td class="formValue">
                    <input id="PROD_TY" name="PROD_TY" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">產品品號</th>
                <td class="formValue">
                    <input id="ITEM_NO" name="ITEM_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">產品品名</th>
                <td class="formValue">
                    <input id="ITEM_NM" name="ITEM_NM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                
            </tr>
            <tr>
                <th class="formTitle">規格</th>
                <td class="formValue">
                    <input id="ITEM_SP" name="ITEM_SP" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">主件品號</th>
                <td class="formValue">
                    <input id="M_ITEM_NO" name="M_ITEM_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">主件號碼</th>
                <td class="formValue">
                    <input id="M_ITEM_ID" name="M_ITEM_ID" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">出貨日</th>
                <td class="formValue">
                    <input id="SO_DT" name="SO_DT" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>

            <tr>
                
            </tr>

            <tr>
                <th class="formTitle">出貨單別</th>
                <td class="formValue">
                    <input id="SO_TY" name="SO_TY" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">出貨單號</th>
                <td class="formValue">
                    <input id="SO_NO" name="SO_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">出貨序號</th>
                <td class="formValue">
                    <input id="SO_SR" name="SO_SR" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">經銷客戶</th>
                <td class="formValue">
                    <input id="SO_CS_NO" name="SO_CS_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>

            <tr>
                <th class="formTitle">客戶名稱</th>
                <td class="formValue">
                    <input id="SO_CS_NM" name="SO_CS_NM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">經銷商</th>
                <td class="formValue">
                    <input id="FA_NO" name="FA_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">使用客戶</th>
                <td class="formValue">
                    <input id="CS_NO" name="CS_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">使用客戶名稱</th>
                <td class="formValue">
                    <input id="CS_NM" name="CS_NM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>

            <tr>
                <th class="formTitle">送貨地址</th>
                <td class="formValue">
                    <input id="TO_ADDR" name="TO_ADDR" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">保固月數</th>
                <td class="formValue">
                    <input id="PROD_GUAR_MM" name="PROD_GUAR_MM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">保固截止日</th>
                <td class="formValue">
                    <input id="PROD_GUAR_DT" name="PROD_GUAR_DT" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">主件保固月數</th>
                <td class="formValue">
                    <input id="M_ITEM_GUAR_MM" name="M_ITEM_GUAR_MM" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>

            <tr>
                <th class="formTitle">主件保固截止日</th>
                <td class="formValue">
                    <input id="M_ITEM_GUAR_DT" name="M_ITEM_GUAR_DT" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">備註</th>
                <td class="formValue">
                    <input id="REMK" name="REMK" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">訂單單別</th>
                <td class="formValue">
                    <input id="CO_TY" name="CO_TY" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">單號</th>
                <td class="formValue">
                    <input id="CO_NO" name="CO_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>

            <tr>
                <th class="formTitle">序號</th>
                <td class="formValue">
                    <input id="CO_SR" name="CO_SR" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">CS_VCH_NO</th>
                <td class="formValue">
                    <input id="CS_VCH_NO" name="CS_VCH_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">QT_TY</th>
                <td class="formValue">
                    <input id="QT_TY" name="QT_TY" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">QT_NO</th>
                <td class="formValue">
                    <input id="QT_NO" name="QT_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>

            <tr>
                <th class="formTitle">QT_SR</th>
                <td class="formValue">
                    <input id="QT_SR" name="QT_SR" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">OWNER_USR_NO</th>
                <td class="formValue">
                    <input id="OWNER_USR_NO" name="OWNER_USR_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">OWNER_GRP_NO</th>
                <td class="formValue">
                    <input id="OWNER_GRP_NO" name="OWNER_GRP_NO" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
                <th class="formTitle">ADD_DT</th>
                <td class="formValue">
                    <input id="ADD_DT" name="ADD_DT" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>

          

        </table>
    </div>
</form>



