
@{
    ViewBag.Title = "查看明細-震動盤照片:"+ Request.QueryString["keyValue"];
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/js/Imagegallery/css/demo.css" rel="stylesheet" />
<link href="~/Content/js/Imagegallery/css/style.css" rel="stylesheet" />
<link href="~/Content/js/Imagegallery/css/elastislide.css" rel="stylesheet" />
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/SaleService/SRM01/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('disabled', 'disabled');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });

        // 產生圖片
        GetImgList();

        var KindType1 = $("#KindType1").val();
        document.title = "查看明細-震動盤照片:" + KindType1;
    });
    function initControl() {
        
    }

    // 照片清單
    function GetImgList() {
        var guid = $('input[name=GUID]').val();
        $.ajax({
            type: "GET",
            url: "/SaleService/SRM01/GetGridJsonUpload2",
            data: { keyword: guid },
            dataType: "json",
            cache: false,
            async: false,
            success: function (data) {
                var trHTML = '';
                $.each(data.ImgList, function (i, item) {
                    trHTML += '<li><a href="#"><img src="../../' + data.ImgList[i].ImgPath + '" data-large="../../' + data.ImgList[i].ImgPath + '" alt="' + data.ImgList[i].FileName + '" data-description="' + data.ImgList[i].FileName + '" /></a></li>';
                    //<li><a href="#"><img src="~/EIPContent/Content/PublicShare/VibrationPlate/thumbs/1.jpg" data-large="../../EIPContent/Content/PublicShare/VibrationPlate/1.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                });
                $('#imagelist').append(trHTML);
            },
            error: function (msg) {
                //alert(msg.responseText);
                window.setTimeout(function () {
                    $.modalMsg(msg.responseText, "warning");
                }, 500);
            }
        });
    }
</script>

<noscript>
    <style>
        .es-carousel ul {
            display: block;
        }
    </style>
</noscript>
<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
    <div class="rg-image-wrapper">
        {{if itemsCount > 1}}
        <div class="rg-image-nav">
            <a href="#" class="rg-image-nav-prev">Previous Image</a>
            <a href="#" class="rg-image-nav-next">Next Image</a>
        </div>
        {{/if}}
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
        <div class="rg-caption-wrapper">
            <div class="rg-caption" style="display:none;">
                <p></p>
            </div>
        </div>
    </div>
</script>
<form id="form1">
    <input id="SID" name="SID" type="hidden" value="" />
    <input id="GUID" name="GUID" type="hidden" value="" />
    <input id="ImgType" name="ImgType" type="hidden" value="" />
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">類別</th>
                <td class="formValue">
                    <input id="KindType1" name="KindType1" type="text" class="form-control required"  />
                </td>  
                <th class="formTitle">產品</th>
                <td class="formValue">
                    <input id="Prod_no" name="Prod_no" type="text" class="form-control required" />
                </td>
                <th class="formTitle">製造日</th>
                <td class="formValue">
                    <input id="Pdate" name="Pdate" type="text" class="form-control required"  />
                </td> 
            </tr>
            <tr>
                <th class="formTitle">描述</th>
                <td class="formValue" colspan="5">
                    <input id="Descript" name="Descript" type="text" class="form-control required" />
                </td>
                
            </tr>
            <tr>
                
            </tr>

        </table>
    </div>
</form>
<div class="content">
    <div id="rg-gallery" class="rg-gallery">
        <div class="rg-thumbs">
            <!-- Elastislide Carousel Thumbnail Viewer -->
            <div class="es-carousel-wrapper">
                <div class="es-nav">
                    <span class="es-nav-prev">Previous</span>
                    <span class="es-nav-next">Next</span>
                </div>
                <div class="es-carousel">
                    <ul id="imagelist"></ul>

                </div>
            </div>
            <!-- End Elastislide Carousel Thumbnail Viewer -->
        </div><!-- rg-thumbs -->
    </div><!-- rg-gallery -->
</div><!-- content -->
		</div><!-- container -->
<script src="~/Content/js/Imagegallery/js/jquery.tmpl.min.js"></script>
<script src="~/Content/js/Imagegallery/js/jquery.easing.1.3.js"></script>
<script src="~/Content/js/Imagegallery/js/jquery.elastislide.js"></script>
<script src="~/Content/js/Imagegallery/js/gallery.js"></script>
